// Custom colors
$primary-color: #064466;
$primary-shade-1-color: rgba(6, 68, 102 , .1);
$primary-shade-2-color: rgba(6, 68, 102 , .2);

$secondary-color: #22aeb9;
$secondary-shade-1-color: rgba(33, 174, 185 , .1);
$secondary-shade-2-color: rgba(33, 174, 185 , .2);

// Default Colors
$white-color: #ffffff;
$black-color: #000000;
$black-1-color: #1b1d21;
$smoke-1-color: #CED4DA;
$smoke-2-color: #F3F3F8;
$smoke-3-color: #878a99;
$smoke-4-color: #B3B3B3;

$dark-color: #212529;
$dark-light-color: #4D5154;