/* @font-face {
  font-family: "Roboto";
  src: url("../../fonts/Roboto-Thin.ttf") format("truetype");
  font-weight: 100;
}

@font-face {
  font-family: "Roboto";
  src: url("../../fonts/Roboto-Light.ttf") format("truetype");
  font-weight: 300;
}

@font-face {
  font-family: "Roboto";
  src: url("../../fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Roboto";
  src: url("../../fonts/Roboto-Medium.ttf") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "Roboto";
  src: url("../../fonts/Roboto-Bold.ttf") format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: "Roboto";
  src: url("../../fonts/Roboto-Black.ttf") format("truetype");
  font-weight: 900;
} */

@font-face{
  font-family: "Poppins";
  src: url("../../fonts/Poppins-Bold.ttf")
}

@font-face{
  font-family: "Poppins";
  src: url("../../fonts/Poppins-Regular.ttf")
}

@font-face{
  font-family: "Poppins";
  src: url("../../fonts/Poppins-Thin.ttf")
}

@font-face{
  font-family: "Poppins";
  src: url("../../fonts/Poppins-ExtraBold.ttf")
}

/* @import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"); */

* {
  font-family: "Poppins", 'Times New Roman';
}
