.btn-primary {
  background-color: #064466 !important;
  border-color: #064466 !important;
}

.btn-primary:hover {
  background-color: #043047 !important;
  border-color: #043047 !important;
}

.btn-soft-primary {
  background-color: rgba(6, 68, 102, 0.1) !important;
  border-color: rgba(6, 68, 102, 0.1) !important;
  color: #064466;
}

.btn-soft-primary:hover {
  background-color: #064466 !important;
  color: #ffffff !important;
}

.btn-secondary {
  background-color: #22aeb9 !important;
  border-color: #22aeb9 !important;
}

.btn-secondary:hover {
  background-color: #187a82 !important;
  border-color: #187a82 !important;
}

.btn-soft-secondary {
  background-color: rgba(33, 174, 185, 0.1) !important;
  border-color: rgba(33, 174, 185, 0.1) !important;
  color: #22aeb9;
}

.btn-soft-secondary:hover {
  background-color: #22aeb9 !important;
  color: #ffffff !important;
}

.auth-page-wrapper {
  background-image: url("../../images/bg-pattern.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-position: center;
}

.auth-page-wrapper .bg-opacity {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #22aeb9;
  opacity: 0.8;
}

.auth-page-wrapper .auth-page-content {
  width: 100%;
  z-index: 1;
}

.auth-page-wrapper .auth-page-content .container {
  background-color: #ffffff;
  padding: 0;
  border-radius: 2px;
  overflow: hidden;
  -webkit-box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
          box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}

.auth-page-wrapper .auth-page-content .container .row .col-lg-6 .auth-bg {
  height: 100%;
  background-image: url(../../images/man_with_money.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.auth-page-wrapper .auth-page-content .container .row .col-lg-6 .auth-bg .opacity_bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #064466;
  opacity: 0.8;
}

.auth-page-wrapper .auth-page-content .container .row .col-lg-6 .auth-bg .auth-logo,
.auth-page-wrapper .auth-page-content .container .row .col-lg-6 .auth-bg h2,
.auth-page-wrapper .auth-page-content .container .row .col-lg-6 .auth-bg p {
  z-index: 1;
}

.auth-page-wrapper .auth-page-content .container .row .col-lg-6 .auth-bg .auth-logo img {
  width: 150px;
  height: 150px;
}

.auth-page-wrapper .auth-page-content .container .row .col-lg-6 .auth-bg h2 {
  color: #ffffff;
  font-size: 2rem;
  font-weight: bold;
  margin-top: 1.5rem;
}

.auth-page-wrapper .auth-page-content .container .row .col-lg-6 .auth-bg p {
  color: #ffffff;
  font-size: 0.8rem;
  text-align: center;
  margin-top: 0.5rem;
  margin-bottom: 3rem;
  padding: 0 2rem;
}

.auth-page-wrapper .auth-page-content .container .row .col-lg-6 .auth-form {
  background-color: #ffffff;
}

.auth-page-wrapper .auth-page-content .container .row .col-lg-6 .auth-form .row .password-show {
  position: relative;
}

.auth-page-wrapper .auth-page-content .container .row .col-lg-6 .auth-form .row .password-show .icon-toggle {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 1rem;
  color: #22aeb9;
  cursor: pointer;
}

.auth-page-wrapper .auth-page-content .container .row .col-lg-6 .auth-form .row h5 {
  text-transform: capitalize;
  color: #064466;
}

.auth-page-wrapper .auth-page-content .container .row .col-lg-6 .auth-form .row p {
  color: #878a99;
  font-weight: 400;
  font-size: 0.8rem;
}

.auth-page-wrapper .auth-page-content .container .row .col-lg-6 .auth-form .row input {
  padding: 15px 12px;
}

.auth-page-wrapper .auth-page-content .container .row .col-lg-6 .auth-form .row .auth-button {
  font-weight: bold;
  padding: 15px 12px;
}

.auth-page-wrapper .auth-page-content .container .row .col-lg-6 .auth-form .row .auth-login-text {
  text-decoration: none;
  color: #000000;
  font-weight: 400;
  font-size: 0.9rem;
  text-align: left;
}

.auth-page-wrapper .auth-page-content .container .row .col-lg-6 .auth-form .row .auth-login-text .auth-login-link {
  color: #22aeb9;
  font-weight: bold;
}

@media screen and (max-width: 991px) {
  .auth-page-wrapper .auth-page-content .container .row .col-lg-6 .auth-bg {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .auth-page-wrapper .auth-page-content .container .row .col-lg-6 .auth-bg .auth-logo {
    display: none;
  }
  .auth-page-wrapper .auth-page-content .container .row .col-lg-6 .auth-bg h2 {
    display: none;
  }
  .auth-page-wrapper .auth-page-content .container .row .col-lg-6 .auth-bg p {
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
  .auth-page-wrapper .auth-page-content .container .row .col-lg-6 .auth-form h5 {
    text-align: center;
  }
  .auth-page-wrapper .auth-page-content .container .row .col-lg-6 .auth-form p {
    text-align: center;
  }
}
/*# sourceMappingURL=login.css.map */