@import "../base/colors.scss";

.btn-primary {
  background-color: $primary-color !important;
  border-color: $primary-color !important;

  &:hover {
    background-color: #043047 !important;
    border-color: #043047 !important;
  }
}

.btn-soft-primary {
  background-color: $primary-shade-1-color !important;
  border-color: $primary-shade-1-color !important;
  color: $primary-color;

  &:hover {
    background-color: $primary-color !important;
    color: $white-color !important;
  }
}

.btn-secondary {
  background-color: $secondary-color !important;
  border-color: $secondary-color !important;

  &:hover {
    background-color: #187a82 !important;
    border-color: #187a82 !important;
  }
}

.btn-soft-secondary {
  background-color: $secondary-shade-1-color !important;
  border-color: $secondary-shade-1-color !important;
  color: $secondary-color;

  &:hover {
    background-color: $secondary-color !important;
    color: $white-color !important;
  }
}

.auth-page-wrapper {
  background-image: url("../../images/bg-pattern.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-position: center;

  .bg-opacity {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $secondary-color;
    opacity: 0.8;
  }
  .auth-page-content {
    width: 100%;
    z-index: 1;

    .container {
      background-color: $white-color;
      padding: 0;
      border-radius: 2px;
      overflow: hidden;
      box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);

      .row {
        .col-lg-6 {
          .auth-bg {
            height: 100%;
            background-image: url(../../images/man_with_money.jpeg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            position: relative;

            display: flex;
            justify-content: end;
            align-items: center;
            flex-direction: column;

            .opacity_bg {
              position: absolute;
              top: 0;
              left: 0;
              right: 0;
              bottom: 0;
              background-color: $primary-color;
              opacity: 0.8;
            }

            .auth-logo,
            h2,
            p {
              z-index: 1;
            }

            .auth-logo {
              img {
                width: 150px;
                height: 150px;
              }
            }

            h2 {
              color: $white-color;
              font-size: 2rem;
              font-weight: bold;
              margin-top: 1.5rem;
            }

            p {
              color: $white-color;
              font-size: 0.8rem;
              text-align: center;
              margin-top: 0.5rem;
              margin-bottom: 3rem;
              padding: 0 2rem;
            }
          }

          .auth-form {
            background-color: $white-color;
            // display: flex;
            // justify-content: center;
            // align-items: center;

            .row {
              //   margin: 0px 10%;
              //   display: flex;
              //   justify-content: center;
              //   align-items: center;

              .password-show {
                position: relative;

                .icon-toggle {
                  position: absolute;
                  top: 50%;
                  transform: translateY(-50%);
                  right: 1rem;
                  color: $secondary-color;
                  cursor: pointer;
                }
              }

              h5 {
                text-transform: capitalize;
                // text-align: center;
                color: $primary-color;
              }

              p {
                color: $smoke-3-color;
                font-weight: 400;
                font-size: 0.8rem;
              }

              input {
                padding: 15px 12px;
              }

              .auth-button {
                // background-color: $secondary-color;
                // color: $white-color;
                font-weight: bold;
                padding: 15px 12px;
              }

              .auth-login-text {
                text-decoration: none;
                color: $black-color;
                font-weight: 400;
                font-size: 0.9rem;
                text-align: left;

                .auth-login-link {
                  color: $secondary-color;
                  font-weight: bold;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 991px) {
  .auth-page-wrapper {
    .auth-page-content {
      .container {
        .row {
          .col-lg-6 {
            .auth-bg {
              justify-content: center;

              .auth-logo {
                display: none;
              }

              h2 {
                display: none;
              }

              p {
                margin-top: 3rem;
                margin-bottom: 3rem;
              }
            }

            .auth-form {
              h5 {
                text-align: center;
              }

              p {
                text-align: center;
              }
            }
          }
        }
      }
    }
  }
}
