{% load static %}
{% load settings %}

<!-- get the active language -->
{% get_active_language as active_language %}

<div class="content-header w-100">
  <div class="toggle_icon">
    <div class="icon_box">
      <i class="icon_data" id="toggle_sidebar" data-feather="menu"></i>
    </div>
  </div>

  <div class="mini-icons">
    <div class="icon_box" id="configure_screen">
      <i class="icon_data" data-feather="maximize"></i>
    </div>
    <div class="icon_box" id="configure_mode">
      <i class="icon_data" data-feather="sun"></i>
    </div>
    <div class="icon_box">
      <i class="icon_data" data-feather="bell"></i>
    </div>
    <div class="profile-image">
      <img
        src={{ request.user.get_avatar }}
        alt="profile-image"
        class="profile-header-image"
      />

      <div class="user-info">
        <h6 class="user-name custom-text-wb-toggle">{{ request.user.get_full_name }}</h6>
        <p class="user-email custom-text-wb-toggle">{{ request.user.email }}</p>
      </div>

      <!-- Menus for profile after clicked-->
      <div class="profile-menu">
        <div class="wrapper">
          <div class="info">
            <div class="name">welcome {{ request.user.first_name }}</div>
            <div class="email">{{ request.user.email }}</div>
          </div>

          <div class="item">
            <i
              class="icon_data feather-icon-sm"
              data-feather="user"
            ></i>
            <a href="{% url 'profile' %}">profile</a>
          </div>
          <div class="item">
            <i
              class="icon_data feather-icon-sm"
              data-feather="log-out"
            ></i>
            <a href={% url 'logout' %} >logout</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
