{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>WT | {{ title }}</title>
        <link rel="icon" href={% static "assets/images/logo/logo_1.png" %} type="png/jpegjpg">
        <link rel="stylesheet" href="{% static "assets/bootstrap/css/bootstrap.min.css" %}" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/7.2.96/css/materialdesignicons.min.css" />
        <link rel="stylesheet" href="{% static "assets/css/app.css" %}" />
        <!-- JetBrains Mono Font -->
        {% comment %} <link rel="stylesheet" href="{% static "assets/fonts/JetBrainsMono/JetBrainsMono-Italic-VariableFont_wght.ttf" %}" />
        <link rel="stylesheet" href="{% static "/assets/fonts/JetBrainsMono/JetBrainsMono-VariableFont_wght.ttf" %}" /> {% endcomment %}
        <link rel="stylesheet" href={% static "assets/css/base/fonts.css" %} />
        <link rel="stylesheet" href={% static "assets/css/dash/index.css" %} />
        <link rel="stylesheet" href="{% static "assets/css/authentication/login.css" %}" />
        <!-- Sweet Alert css-->
        <link href="{% static "assets/libs/sweetalert2/sweetalert2.min.css" %}" rel="stylesheet" type="text/css" />
        <link href="{% static "assets/css/select2.css" %}" rel="stylesheet" type="text/css" />
        {% block links %}
        {% endblock links %}
    </head>
    <body id="body_element" data-bs-theme="light">
        {% csrf_token %}
        <div class="layout-wrapper w-100">
            <!-- sidebar navigation -->
            {% include './menu.html' %}
            <!-- layout content -->
            <div class="layout-content w-100">
                <!-- content header -->
                {% include './header.html' %}
                <div class="content-page-titles w-100">
                    <div class="title">{{ title }}</div>
                    <div class="parent">
                        <div class="parent-text">{{ parent }}</div>
                        <div class="parent-icon">
                            <i class="icon" data-feather="chevron-right"></i>
                        </div>
                        <div class="title-text">{{ title }}</div>
                    </div>
                </div>
                <div class="page-content w-100">
                    {% block body %}
                    {% endblock body %}
                </div>
            </div>
        </div>
        <script src={% static "assets/js/jquery.js" %}></script>
        <script src={% static "assets/bootstrap/js/bootstrap.min.js" %}></script>
        <script src={% static "assets/libs/feather-icons/feather.min.js" %}></script>
        <!-- Sweet Alerts js -->
        <script src={% static "assets/libs/sweetalert2/sweetalert2.min.js"%}></script>
        <script src={% static "assets/js/main/main.js" %}></script>
        <script>const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;</script>
        {% block scripts %}
        {% endblock scripts %}
    </body>
</html>
