{% load static %}
{% load main %}
{% return_menu_titles "transaction" as menu_transaction %}
{% return_menu_titles "reports" as report_transaction %}
{% return_menu_titles "superuser_dashboard" as superuser_dashboard %}
<div class="layout-menu">
  <!-- brand logo -->
  <a href='{% url 'finance_dashboard' %}' class="brand-logo">
    <div class="logo-box">
      <img src={% static "/assets/images/logo/logo-white.png" %} alt="blank" />
    </div>
    <p>
      <span class="bold-title">Wealth</span>Track
    </p>
  </a>
  <ul class="menu-list">
    {% if request.user.is_superuser %}
    <li class="menu-item {% if title in superuser_dashboard %}active{% endif %}">
      <a href='#' class="item-link">
        <div class="item-content">
          <div class="item-icon">
            <i class="icon-style" data-feather="home"></i>
          </div>
          <div class="item-text">Dashboard</div>
        </div>
        <div class="item-arrow">
          <!-- comment the icon if the menu has no sub menu -->
          <i class="arrow" data-feather="arrow-down"></i>
        </div>
      </a>

      <ul {% if title in superuser_dashboard %}style="display:block !important;"{% endif %}
          class="submenu-list">
        <li class="menu-item {% if title == "Users Dashboard" %}active{% endif %}">
          <a href={% url 'users_dashboard' %} class="item-link">Users</a>
        </li>
      </ul>
    </li>
    {% endif %}
    {% if not request.user.is_superuser %}
      <li class="menu-item {% if title == 'Finance Dashboard' %}active{% endif %}">
        <a href={% url 'finance_dashboard' %} class="item-link">
          <div class="item-content">
            <div class="item-icon">
              <i class="icon-style" data-feather="home"></i>
            </div>
            <div class="item-text">dashboard</div>
          </div>
          <div class="item-arrow">
            <!-- comment the icon if the menu has no sub menu -->
            <!-- <i class="arrow" data-feather="arrow-down"></i> -->
          </div>
        </a>
      </li>
    
    <li class="menu-item {% if title == 'Accounts' %}active{% endif %}">
      <a href={% url 'accounts' %} class="item-link">
        <div class="item-content">
          <div class="item-icon">
            <i class="icon-style" data-feather="briefcase"></i>
          </div>
          <div class="item-text">accounts</div>
        </div>
        <div class="item-arrow">
          <!-- comment the icon if the menu has no sub menu -->
          <!-- <i class="arrow" data-feather="arrow-down"></i> -->
        </div>
      </a>
    </li>
    <li class="menu-item {% if title == 'Categories' %}active{% endif %}">
      <a href={% url 'categories' %} class="item-link">
        <div class="item-content">
          <div class="item-icon">
            <i class="icon-style" data-feather="folder"></i>
          </div>
          <div class="item-text">Categories</div>
        </div>
        <div class="item-arrow">
          <!-- comment the icon if the menu has no sub menu -->
          <!-- <i class="arrow" data-feather="arrow-down"></i> -->
        </div>
      </a>
    </li>
    <li class="menu-item {% if title == 'Deptors' %}active{% endif %}">
      <a href={% url 'deptors' %} class="item-link">
        <div class="item-content">
          <div class="item-icon">
            <i class="icon-style" data-feather="user-minus"></i>
          </div>
          <div class="item-text">Deptors</div>
        </div>
        <div class="item-arrow">
          <!-- comment the icon if the menu has no sub menu -->
          <!-- <i class="arrow" data-feather="arrow-down"></i> -->
        </div>
      </a>
    </li>
    <li class="menu-item {% if title in menu_transaction %}active{% endif %}">
      <a href='#' class="item-link">
        <div class="item-content">
          <div class="item-icon">
            <i class="icon-style" data-feather="repeat"></i>
          </div>
          <div class="item-text">Transactions</div>
        </div>
        <div class="item-arrow">
          <!-- comment the icon if the menu has no sub menu -->
          <i class="arrow"
             data-feather="arrow-{% if title in menu_transaction %}up{% else %}down{% endif %}"></i>
        </div>
      </a>
      <ul {% if title in menu_transaction %}style="display:block !important;"{% endif %}
          class="submenu-list">
        <li class="menu-item {% if title == "New Transaction" %}active{% endif %}">
          <a href={% url 'new_transaction' %} class="item-link">New transaction</a>
        </li>
        {% comment %} <li class="menu-item {% if title == "View As Excel" %}active{% endif %}">
          <a href={% url 'view_as_excel' %} class="item-link">View as excel</a>
        </li> {% endcomment %}
        <li class="menu-item {% if title == "View As List" %}active{% endif %}">
          <a href={% url 'view_as_list' %} class="item-link">View as list</a>
        </li>
      </ul>
    </li>
    <li class="menu-item {% if title in report_transaction %}active{% endif %}">
      <a href="#" class="item-link">
        <div class="item-content">
          <div class="item-icon">
            <i class="icon-style" data-feather="bar-chart-2"></i>
          </div>
          <div class="item-text">Reports</div>
        </div>
        <div class="item-arrow">
          <!-- comment the icon if the menu has no sub menu -->
          <i class="arrow" data-feather="arrow-down"></i>
        </div>
      </a>
      <ul {% if title in report_transaction %}style="display:block !important;"{% endif %}
          class="submenu-list">
        <li class="menu-item {% if title == "Spending Report" %}active{% endif %}">
          <a href={% url 'spending_report' %} class="item-link">Spending Report</a>
        </li>
        <li class="menu-item {% if title == "Earning Report" %}active{% endif %}">
          <a href={% url 'earning_report' %} class="item-link">Earning Report</a>
        </li>
      </ul>
    </li>
    {% endif %}
    {% if request.user.is_superuser %}
      <li class="menu-item">
        <a href="#" class="item-link">
          <div class="item-content">
            <div class="item-icon">
              <i class="icon-style" data-feather="shield"></i>
            </div>
            <div class="item-text">Permissions</div>
          </div>
          <div class="item-arrow">
            <!-- comment the icon if the menu has no sub menu -->
            <i class="arrow" data-feather="arrow-down"></i>
          </div>
        </a>
        <ul class="submenu-list">
          <li class="menu-item">
            <a href="#" class="item-link">Group</a>
          </li>
          <li class="menu-item">
            <a href="#" class="item-link">Personal</a>
          </li>
          <li class="menu-item">
            <a href="#" class="item-link">Report</a>
          </li>
        </ul>
      </li>
      <li class="menu-item {% if title == 'Users list' %}active{% endif %}">
        <a href={% url 'users_list' %} class="item-link">
          <div class="item-content">
            <div class="item-icon">
              <i class="icon-style" data-feather="user"></i>
            </div>
            <div class="item-text">Users</div>
          </div>
          <div class="item-arrow">
            <!-- comment the icon if the menu has no sub menu -->
            <!-- <i class="arrow" data-feather="arrow-down"></i> -->
          </div>
        </a>
      </li>
      <li class="menu-item">
        <a href="payments.html" class="item-link">
          <div class="item-content">
            <div class="item-icon">
              <i class="icon-style" data-feather="credit-card"></i>
            </div>
            <div class="item-text">Payments</div>
          </div>
          <div class="item-arrow">
            <!-- comment the icon if the menu has no sub menu -->
            <!-- <i class="arrow" data-feather="arrow-down"></i> -->
          </div>
        </a>
      </li>
    {% endif %}
  </ul>
</div>
