{% load static %}

<script src={% static "assets/libs/bootstrap/js/bootstrap.bundle.min.js" %}></script>
<script src={% static "assets/libs/simplebar/simplebar.min.js" %}></script>
<script src={% static "assets/libs/node-waves/waves.min.js" %}></script>
<script src={% static "assets/libs/feather-icons/feather.min.js" %}></script>
<script src={% static "assets/js/pages/plugins/lord-icon-2.1.0.js" %}></script>
<script src={% static "assets/js/plugins.js" %}></script>


<!-- App js -->
<script src={% static "assets/js/app.js" %}></script>