{% extends '../base/index.html' %}
{% load static %}
{% load humanize %}
{% block body %}
    <div class="row">
        <div class="col-xxl-3">
            <div class="card mt-n5">
                <div class="card-body p-4">
                    <div class="text-center">
                        <div class="profile-user position-relative d-inline-block mx-auto mb-4">
                            <img src={{ request.user.get_avatar }} class="rounded-circle avatar-xl img-thumbnail user-profile-image" alt="user-profile-image" />
                            <div class="avatar-xs p-0 rounded-circle profile-photo-edit">
                                <input id="profile-img-file-input"
                                       type="file"
                                       class="profile-img-file-input" />
                                <label for="profile-img-file-input" class="profile-photo-edit avatar-xs">
                                    <span data-loading='false'
                                          class="avatar-title rounded-circle bg-light text-body spin_button">
                                        <i class="mdi mdi-camera"></i>
                                    </span>
                                </label>
                            </div>
                        </div>
                        <h5 class="fs-16 mb-1">{{ request.user.get_full_name }}</h5>
                        <p class="text-muted mb-0">
                            <strong>Serial Number</strong>
                        </p>
                        <p class="text-muted mb-0">{{ request.user.username }}</p>
                    </div>
                </div>
            </div>
            <!--end card-->
        </div>
        <!--end col-->
        <div class="col-xxl-9">
            <div class="card">
                <div class="card-body">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs nav-pills nav-justified  mb-3" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active"
                               data-bs-toggle="tab"
                               href="#base-justified-home"
                               role="tab"
                               aria-selected="false">Personal Information</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link"
                               data-bs-toggle="tab"
                               href="#change-password"
                               role="tab"
                               aria-selected="false">Change Password</a>
                        </li>
                    </ul>
                    <!-- Tab panes -->
                    <div class="tab-content text-muted">
                        <div class="tab-pane active" id="base-justified-home" role="tabpanel">
                            <div class="row mt-3">
                                <div class="col-sm-12 col-md-6 col-lg-4 mb-3">
                                    <label for="first_name" class="form-label">First Name</label>
                                    <input type="text"
                                           value='{{ request.user.first_name }}'
                                           name=""
                                           placeholder="Enter first name"
                                           id="first_name"
                                           class="form-control">
                                </div>
                                <div class="col-sm-12 col-md-6 col-lg-4 mb-3">
                                    <label for="last_name" class="form-label">Last Name</label>
                                    <input type="text"
                                           value='{{ request.user.last_name }}'
                                           name=""
                                           placeholder="Enter first name"
                                           id="last_name"
                                           class="form-control">
                                </div>
                                <div class="col-sm-12 col-md-6 col-lg-4 mb-3">
                                    <label for="email_address" class="form-label">Email address</label>
                                    <input type="email"
                                           value='{{ request.user.email }}'
                                           name=""
                                           placeholder="Enter email address"
                                           id="email_address"
                                           class="form-control">
                                </div>
                                <div class="col-sm-12 col-md-6 col-lg-4 mb-3">
                                    <label for="phone_number" class="form-label">Phone Number</label>
                                    <input type="text"
                                           value='{{ request.user.phone }}'
                                           name=""
                                           placeholder="Enter phone number"
                                           id="phone_number"
                                           class="form-control">
                                </div>
                                <div class="col-sm-12 col-md-12 col-lg-8 mb-3">
                                    <label for="gender" class="form-label">Gender</label>
                                    <select name="" id="gender" class="form-select">
                                        <option {% if request.user.gender == '' %}selected{% endif %} value="">Select your gender</option>
                                        <option {% if request.user.gender == 'Male' %}selected{% endif %}
                                                value="Male">Male</option>
                                        <option {% if request.user.gender == 'Female' %}selected{% endif %}
                                                value="Female">Female</option>
                                    </select>
                                </div>
                                <div class="col-12 d-flex justify-content-end">
                                    <button data-loading='false' class="btn btn-primary" id="update_information">Update information</button>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="change-password" role="tabpanel">
                            <div class="row mt-3">
                                <div class="col-sm-12 col-md-6 col-lg-4 mb-3">
                                    <label for="current_password" class="form-label">Current Password</label>
                                    <input type="password"
                                           placeholder="Enter current password"
                                           id="current_password"
                                           class="form-control">
                                </div>
                                <div class="col-sm-12 col-md-6 col-lg-4 mb-3">
                                    <label for="new_password" class="form-label">New Password</label>
                                    <input type="password"
                                           placeholder="Enter new password"
                                           id="new_password"
                                           class="form-control">
                                </div>
                                <div class="col-sm-12 col-md-6 col-lg-4 mb-3">
                                    <label for="confirm_password" class="form-label">Confirm Password</label>
                                    <input type="password"
                                           placeholder="Confirm Password"
                                           id="confirm_password"
                                           class="form-control">
                                </div>
                                <div class="col-12 d-flex justify-content-end">
                                    <button data-loading='false' class="btn btn-primary" id="change_password">Update Password</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end card-body -->
            </div>
        </div>
        <!--end col-->
    </div>
{% endblock body %}
{% block scripts %}
    <script src={% static "scripts/accounts/profile.js" %}></script>
{% endblock scripts %}
