{% extends '../base/index.html' %}
{% load static %}
{% load humanize %}
{% load main %}
{% load dashboard %}
{% block body %}
    {% summarize request.user as summary %}
    {% last_activities request.user as activities %}
    {% account_balances as accountBalances %}
    <div class="row">
        <div class="col-sm-12 col-md-7">
            <div class="row">
                <!-- Income Card -->
                <div class="col-sm-12 col-md-12 col-lg-4">
                    <div class="card card-animate">
                        <div class="card-body">
                            <p class="text-muted pb-0 mb-0">Total Income</p>
                            <h4 class="fs-22 fw-semibold pb-0 mb-2 mt-2 ff-secondary">
                                <span class="custom-text-wb-toggle">${{ summary.income.value|intcomma }}</span>
                            </h4>
                            <div class="d-flex align-items-center">
                                <div class="flex-grow-1">
                                    <p class="text-muted mb-0">from last month</p>
                                </div>
                                <div class="flex-shrink-0">
                                    <h5 class="text-success fs-14 mb-0">
                                        <i class="ri-arrow-right-up-line fs-13 align-middle"></i>
                                        +16.24 %
                                    </h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Expense Card -->
                <div class="col-sm-12 col-md-12 col-lg-4">
                    <div class="card card-animate">
                        <div class="card-body">
                            <p class="text-muted pb-0 mb-0">Total Expense</p>
                            <h4 class="fs-22 fw-semibold pb-0 mb-2 mt-2 ff-secondary">
                                <span class="custom-text-wb-toggle">${{ summary.expense.value|intcomma }}</span>
                            </h4>
                            <div class="d-flex align-items-center">
                                <div class="flex-grow-1">
                                    <p class="text-muted mb-0">from last month</p>
                                </div>
                                <div class="flex-shrink-0">
                                    <h5 class="text-success fs-14 mb-0">
                                        <i class="ri-arrow-right-up-line fs-13 align-middle"></i>
                                        +16.24 %
                                    </h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Saving Card -->
                <div class="ccol-sm-12 col-md-12 col-lg-4">
                    <div class="card card-animate">
                        <div class="card-body">
                            <p class="text-muted pb-0 mb-0">Total Saving</p>
                            <h4 class="fs-22 fw-semibold pb-0 mb-2 mt-2 ff-secondary">
                                <span class="custom-text-wb-toggle">${{ summary.saving.value|intcomma }}</span>
                            </h4>
                            <div class="d-flex align-items-center">
                                <div class="flex-grow-1">
                                    <p class="text-muted mb-0">from last month</p>
                                </div>
                                <div class="flex-shrink-0">
                                    <h5 class="text-success fs-14 mb-0">
                                        <i class="ri-arrow-right-up-line fs-13 align-middle"></i>
                                        +16.24 %
                                    </h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="d-flex align-items-center">
                                <div class="flex-grow-1">
                                    <h4 class="card-title mb-0">My transactions</h4>
                                </div>
                                <div class="flex-shrink-0 d-flex">
                                    <select name="" id="transaction_years" class="form-select form-select-sm"></select>
                                    <select name="" id="transaction_months" class="form-select form-select-sm"></select>
                                </div>
                            </div>
                        </div>
                        <div class="card-body transaction_chart">
                            <div id="transaction_chart" class="e-charts w-100"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-5">
            <div class="row">
                <div class="col-md-12">
                    <div class="card card-animate">
                        <div class="card-body">
                            <p class="text-muted pb-0 mb-0">Balance</p>
                            <h4 class="fs-22 fw-semibold pb-0 mb-2 mt-2 ff-secondary">
                                <span class="custom-text-wb-toggle">${{ summary.balance|intcomma }}</span>
                            </h4>
                            <div class="d-flex align-items-center">
                                <div class="flex-grow-1">
                                    <p class="text-muted mb-0">from last month</p>
                                </div>
                                <div class="flex-shrink-0">
                                    <h5 class="text-success fs-14 mb-0">
                                        <i class="ri-arrow-right-up-line fs-13 align-middle"></i>
                                        +16.24 %
                                    </h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 d-none">
                    <div class="card">
                        <div class="card-header">
                            <div class="d-flex align-items-center">
                                <div class="flex-grow-1">
                                    <h4 class="card-title mb-0">My balances</h4>
                                </div>
                                <div class="flex-shrink-0 d-flex"></div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive table-card">
                                <table class="table table-borderless table-centered align-middle table-nowrap mb-0">
                                    <thead class="text-muted">
                                        <tr>
                                            <th>Account</th>
                                            <th>Balance</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for item in accountBalances %}
                                            <tr>
                                                <td>{{ item.name }}</td>
                                                <td>{{ item.amount|intcomma }}</td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header d-flex justify-content-between align-items-center">
                            <h6 class="card-title mb-0">Recent transactions</h6>
                            <button type="button" class="btn btn-soft-primary btn-sm">View All Activity</button>
                        </div>
                        <div class="card-body">
                            {% if activities %}
                                <div class="d-flex justify-content-start align-items-center flex-column"
                                     style="height:350px;
                                            overflow-y: scroll">
                                    {% for item in activities %}
                                        <div class="w-100 pb-1 d-flex align-items-center">
                                            <div class="flex-grow-1">
                                                <p>{{ item.get_source }}</p>
                                            </div>
                                            <div class="flex-shrink-0 d-flex {% if item.type == "deposit" %}text-success{% else %}text-danger{% endif %}">
                                                <i class="pr-2 mdi mdi-trending-{% if item.type == "deposit" %}up{% else %}down{% endif %} align-middle me-1"></i>
                                                <p>${{ item.amount }}</p>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-md-7">
            <div class="card">
                <div class="card-header">
                    <div class="d-flex align-items-center">
                        <div class="flex-grow-1">
                            <h4 class="card-title mb-0">My expenses</h4>
                        </div>
                        <div class="flex-shrink-0 d-flex">
                            <select name="" id="expense_years" class="form-select form-select-sm"></select>
                            <select name="" id="expense_months" class="form-select form-select-sm"></select>
                        </div>
                    </div>
                </div>
                <div class="card-body expense_chart">
                    <div id="expense_chart" class="e-charts w-100"></div>
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-md-5">
            <div class="card">
                <div class="card-header">
                    <div class="d-flex align-items-center">
                        <div class="flex-grow-1">
                            <h4 class="card-title mb-0">My incomes</h4>
                        </div>
                        <div class="flex-shrink-0 d-flex">
                            <select name="" id="income_years" class="form-select form-select-sm"></select>
                            <select name="" id="income_months" class="form-select form-select-sm"></select>
                        </div>
                    </div>
                </div>
                <div class="card-body income_chart">
                    <div id="income_chart" class="e-charts w-100"></div>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}
{% block scripts %}
    <script src={% static "assets/libs/chartjs/chart.min.js" %}></script>
    <script src={% static "scripts/dashboards/main.js" %}></script>
{% endblock scripts %}
