{% load static %}
<!DOCTYPE html>
<html lang="en"
      data-layout="vertical"
      data-topbar="light"
      data-sidebar="dark"
      data-sidebar-size="lg"
      data-sidebar-image="none"
      data-preloader="disable">
    <head>
        <meta charset="utf-8" />
        <title>WT | 404 Error</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta content="Premium Multipurpose Admin & Dashboard Template"
              name="description" />
        <meta content="Themesbrand" name="author" />
        <!-- App favicon -->
        <link rel="icon" href={% static "assets/images/logo/logo_1.png" %} type="png/jpegjpg">
        <!-- Layout config Js -->
        <script src={% static "default/js/layout.js" %}></script>
        <!-- Bootstrap Css -->
        <link href={% static "default/css/bootstrap.min.css" %} rel="stylesheet" type="text/css" />
        <!-- Icons Css -->
        <link href={% static "default/css/icons.min.css" %} rel="stylesheet" type="text/css" />
        <!-- App Css-->
        <link href={% static "default/css/app.min.css" %} rel="stylesheet" type="text/css" />
        <!-- custom Css-->
        <link href={% static "default/css/custom.min.css" %} rel="stylesheet" type="text/css" />
    </head>
    <body>
        <!-- auth-page wrapper -->
        <div class="auth-page-wrapper py-5 d-flex justify-content-center align-items-center min-vh-100">

            <!-- auth-page content -->
            <div class="auth-page-content overflow-hidden p-0">
                <div class="container-fluid">
                    <div class="row justify-content-center">
                        <div class="col-xl-4 text-center">
                            <div class="error-500 position-relative">
                                <img src={% static "default/images/error500.png"%} alt="" class="img-fluid error-500-img error-img" />
                                <h1 class="title text-muted">500</h1>
                            </div>
                            <div>
                                <h4 class="mb-3">Internal Server Error</h4>
                            <a href={% url 'finance_dashboard' %}  class="btn btn-secondary"><i class="mdi mdi-home me-1"></i>Back to home</a>
                            <div class="mt-3 alert alert-danger text-start w-100" role="alert">
                                {{ message }}
                            </div>
                            </div>
                        </div><!-- end col-->
                    </div>
                    <!-- end row -->
                </div>
                <!-- end container -->
            </div>
            <!-- end auth-page content -->
        </div>
        <!-- end auth-page-wrapper -->
    </body>
</html>
