{% extends "base/index.html" %}
{% load static %}
{% load humanize %}
{% block body %}
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-4">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md">
                            <h6 class="card-title  flex-grow-1 text-start">Summary</h6>
                        </div>
                        <div class="col-md-auto">
                            <div class="hstack gap-1 flex-wrap">
                                <a href="earning_report?{{back_url}}"
                                class="btn btn-danger btn-sm"
                                data-bs-toggle="tooltip"
                                data-bs-trigger="hover"
                                data-bs-placement="left"
                                title="Go Back">
                                <i data-feather="corner-up-left" class="feather-icon-sm"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <table class="table mb-0">
                        <tbody>
                            <tr>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td class="fw-bold">Category :</td>
                                <td>{{ report_filter.category }}</td>
                            </tr>
                            <tr>
                                <td class="fw-bold">Date :</td>
                                <td>{{ report_filter.date }}</td>
                            </tr>
                            <tr>
                                <td class="fw-bold">Total Amount :</td>
                                <td>${{ report_filter.total|intcomma }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-8">
            <div class="card">
                <div class="card-body">
                    <div class="row mb-2 g-4 align-items-center">
                        <div class="col-sm-3"></div>
                        <div class="col-sm-auto ms-auto">
                            <div class="hstack gap-2">
                                <div class="form-group">
                                    <select id="DataNumber" name="DataNumber" DataNumber={{ datanumber }} DataNumber="10" class="form-control select2 w-100">
                                        <option value="5">5</option>
                                        <option value="10">10</option>
                                        <option value="30">30</option>
                                        <option value="50">50</option>
                                        <option value="100">100</option>
                                    </select>
                                </div>
                                <form autocomplete="off">
                                    <div class="input-group mr-0">
                                        <input id="SearchQuery"
                                               type="text"
                                               placeholder="Search..."
                                               value='{{ search }}'
                                               class="form-control" />
                                        <button class="btn btn-primary SearchQueryBTN"
                                                type="button"
                                                id="button-addon2">
                                            <i data-feather="search" class="feather-icon-sm"></i>
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="table-responsive">
                                <table id="datatable"
                                       class="accounts_table table"
                                       style="width: 100%;
                                              font-size:0.8rem">
                                    <thead>
                                        <tr>
                                            <th>Date</th>
                                            <th>Amount</th>
                                            <th>Account</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% if  paginator_obj %}
                                            {% for item in paginator_obj %}
                                                <tr>
                                                    <td>{{ item.get_transaction_date }}</td>
                                                    <td>${{ item.get_amount|intcomma }}</td>
                                                    <td>{{ item.account.name }}</td>
                                                </tr>
                                            {% endfor %}
                                        {% else %}
                                            <tr>
                                                <td class="text-center" colspan=8>No transactions processed</td>
                                            </tr>
                                        {% endif %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- Pagination -->
                        <div class="col-md-12 d-flex justify-content-between align-items-center">
                            <p activePage="{{ page_obj.number }}" class="p-0 m-0 activePage">
                                Showing {{ paginator_obj.number }} to {{ paginator_obj.paginator.num_pages }} of {{ paginator_obj.paginator.count }} entries
                            </p>
                            <nav class="pagination_nav">
                                <ul class="pagination justify-content-end">
                                    <li class="page-item {% if not paginator_obj.has_previous %}disabled{% endif %}">
                                        <a class="page-link" tabindex="-1" page="1">Previous</a>
                                    </li>
                                    <li class="page-item {% if not paginator_obj.has_previous %}disabled{% endif %}">
                                        <a class="page-link"
                                           tabindex="-1"
                                           page="{% if paginator_obj.has_previous %}{{ paginator_obj.previous_page_number }}{% else %}No Page{% endif %}"><i class="feather-icon-sm" data-feather="chevrons-left"></i></a>
                                    </li>
                                    <li class="page-item {% if not paginator_obj.has_next %}disabled{% endif %}">
                                        <a class="page-link"
                                           tabindex="-1"
                                           page="{% if paginator_obj.has_next %}{{ paginator_obj.next_page_number }}{% else %}No Page{% endif %}"><i class="feather-icon-sm" data-feather="chevrons-right"></i></a>
                                    </li>
                                    <li class="page-item {% if not paginator_obj.has_next %}disabled{% endif %}">
                                        <a class="page-link" page="{{ paginator_obj.paginator.num_pages }}">Next</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}
{% block scripts %}
    <script>const url_string = '{{ url|safe }}';</script>
    <script src={% static "scripts/reports/earning_detail.js" %}></script>
{% endblock scripts %}
