@import "../base/colors.scss";

.particles {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  .wrapper {
    width: 100%;
    height: 100%;
    position: relative;

    @keyframes particle_animation1 {
        0%{
            transform: translateY(10px);
        }
        50%{
            transform: translateY(-10px);
        }
        100%{
            transform: translateY(10px);
        }
    }

    

    @keyframes particle_animation2 {
        0%{
            transform: rotate(0deg);
        }
        100%{
            transform: rotate(360deg);
        }
    }

    @keyframes particle_animation3 {
        0%{
            transform: translateX(50px);
        }
        50%{
            transform: translateX(-50px);
        }
        100%{
            transform: translateX(50px);
        }
    }

    @keyframes particle_animation4 {
        0%{
            transform: translateX(-50px);
        }
        50%{
            transform: translateX(50px);
        }
        100%{
            transform: translateX(-50px);
        }
    }


    .circled {
      width: 6px;
      height: 6px;
      border-radius: 50%;
      background-color: $accent-color;
      animation: particle_animation1 3s linear infinite;
    }

    .circled-outlined {
      width: 6px;
      height: 6px;
      border-radius: 50%;
      border: 1px solid $accent-color;
      animation: particle_animation3 3s linear infinite;
    }

    .box {
      width: 6px;
      height: 6px;
      background-color: $accent-color;
      animation: particle_animation4 3s linear infinite;
    }

    .box-outlined {
      width: 6px;
      height: 6px;
      border: 1px solid $accent-color;
      animation: particle_animation2 3s linear infinite;
    }
  }
}
