.particles {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.particles .wrapper {
  width: 100%;
  height: 100%;
  position: relative;
}

@-webkit-keyframes particle_animation1 {
  0% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  50% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  100% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
}

@keyframes particle_animation1 {
  0% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  50% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  100% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
}

@-webkit-keyframes particle_animation2 {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes particle_animation2 {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes particle_animation3 {
  0% {
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
  50% {
    -webkit-transform: translateX(-50px);
            transform: translateX(-50px);
  }
  100% {
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
}

@keyframes particle_animation3 {
  0% {
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
  50% {
    -webkit-transform: translateX(-50px);
            transform: translateX(-50px);
  }
  100% {
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
}

@-webkit-keyframes particle_animation4 {
  0% {
    -webkit-transform: translateX(-50px);
            transform: translateX(-50px);
  }
  50% {
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
  100% {
    -webkit-transform: translateX(-50px);
            transform: translateX(-50px);
  }
}

@keyframes particle_animation4 {
  0% {
    -webkit-transform: translateX(-50px);
            transform: translateX(-50px);
  }
  50% {
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
  100% {
    -webkit-transform: translateX(-50px);
            transform: translateX(-50px);
  }
}

.particles .wrapper .circled {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #4DA6FF;
  -webkit-animation: particle_animation1 3s linear infinite;
          animation: particle_animation1 3s linear infinite;
}

.particles .wrapper .circled-outlined {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  border: 1px solid #4DA6FF;
  -webkit-animation: particle_animation3 3s linear infinite;
          animation: particle_animation3 3s linear infinite;
}

.particles .wrapper .box {
  width: 6px;
  height: 6px;
  background-color: #4DA6FF;
  -webkit-animation: particle_animation4 3s linear infinite;
          animation: particle_animation4 3s linear infinite;
}

.particles .wrapper .box-outlined {
  width: 6px;
  height: 6px;
  border: 1px solid #4DA6FF;
  -webkit-animation: particle_animation2 3s linear infinite;
          animation: particle_animation2 3s linear infinite;
}
/*# sourceMappingURL=particles.css.map */