{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>WT | {{ title }}</title>
        <link rel="stylesheet" href="{% static "assets/bootstrap/css/bootstrap.min.css" %}" />
        <!-- JetBrains Mono Font -->
        {% comment %} <link rel="stylesheet" href="{% static "assets/fonts/JetBrainsMono/JetBrainsMono-Italic-VariableFont_wght.ttf" %}" />
        <link rel="stylesheet" href="{% static "/assets/fonts/JetBrainsMono/JetBrainsMono-VariableFont_wght.ttf" %}" /> {% endcomment %}
        <link rel="stylesheet" href={% static "assets/css/base/fonts.css" %} />
        <link rel="stylesheet" href="{% static "assets/css/authentication/login.css" %}" />
        <!-- Sweet Alert css-->
        <link href="{% static "assets/libs/sweetalert2/sweetalert2.min.css" %}" rel="stylesheet" type="text/css" />
        <link href="{% static "assets/css/select2.css" %}" rel="stylesheet" type="text/css" />
        
    </head>
    <body>
        {% csrf_token %}
        <div class="auth-page-wrapper py-5 d-flex justify-content-center align-items-center min-vh-100">
            <div class="auth-page-content">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="auth-bg">
                                <!-- Logo -->
                                <div class="auth-logo">
                                    <img src={% static "assets/images/logo/logo_1.png" %} alt="Logo" />
                                </div>
                                <!-- Brand Title -->
                                <h2>WealthTrack</h2>
                                <!-- Brand Description -->
                                <p>
                                    <strong>WealthTrack</strong> is a personal finance management
                                    app is designed to help you manage your money effectively and
                                    stay on top of your finances
                                </p>
                                <!-- For opacity background -->
                                <div class="opacity_bg"></div>
                            </div>
                        </div>
                        {% block auth-content %}
                        {% endblock auth-content %}
                    </div>
                </div>
            </div>
            <div class="bg-opacity"></div>
        </div>
        <script src={% static "assets/js/jquery.js" %}></script>
        <script src={% static "assets/bootstrap/js/bootstrap.min.js" %}></script>
        <script src={% static "assets/libs/feather-icons/feather.min.js" %}></script>
        <!-- Sweet Alerts js -->
        <script src={% static "assets/libs/sweetalert2/sweetalert2.min.js"%}></script>
        <script>
            feather.replace();
            const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
            $(".password-show").on("click", ".icon-toggle", function () {
                let input = $(this).parent().parent().find("input");
            
                $(this)
                  .parent()
                  .html(
                    input.attr("type") == "password"
                      ? `<i class="icon-toggle" data-feather="eye-off"></i>`
                      : `<i class="icon-toggle" data-feather="eye"></i>`
                  );
            
                feather.replace();
                input.attr("type") == "password"
                  ? input.attr("type", "text")
                  : input.attr("type", "password");
              });
        </script>
        {% block scripts %}
        {% endblock scripts %}
    </body>
</html>
