{% extends './base.html' %}
{% load static %}
{% block auth-content %}
    <div class="col-lg-6">
        <div class="auth-form p-5">
            <div class="row">
                <h5>Welcome Back !</h5>
                <p class="pb-2">
                    Sign in to continue to <strong>WealthTrack</strong>
                </p>
                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="email"
                           placeholder="Enter email address"
                           id="email"
                           class="form-control" />
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <div class="password-show">
                        <input type="password"
                               placeholder="Enter your password"
                               id="password"
                               class="form-control" />
                        <div class="feather-icon">
                            <i class="icon-toggle" data-feather="eye"></i>
                        </div>
                    </div>
                </div>
                <div class="mt-3">
                    <button type="button"
                            id="login_account"
                            class="btn w-100 btn-secondary auth-button">Login</button>
                </div>
                <p class="mt-4 auth-login-text">
                    You are not in WealthTrack?
                    <a href={% url 'register' %} class="auth-login-link">Register Here</a>
                    </>
                </div>
            </div>
        </div>
    {% endblock auth-content %}
    {% block scripts %}
        <script src={% static "scripts/authentication/login.js" %}></script>
    {% endblock %}
