{% extends './base.html' %}
{% load static %}
{% block auth-content %}
    <div class="col-lg-6">
        <div class="auth-form p-5">
            <div class="row">
                <h5>create new account</h5>
                <p class="pb-2">Get your free WealthTrack account now</p>
                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="email"
                           placeholder="Enter email address"
                           id="email"
                           class="form-control" />
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <div class="password-show">
                        <input type="password"
                               placeholder="Enter your password"
                               id="password"
                               class="form-control" />
                        <div class="feather-icon">
                            <i class="icon-toggle" data-feather="eye"></i>
                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="confirm-password" class="form-label">Confirm Password</label>
                    <div class="password-show">
                        <input type="password"
                               placeholder="Confirm your password"
                               id="confirm-password"
                               class="form-control" />
                        <div class="feather-icon">
                            <i class="icon-toggle" data-feather="eye"></i>
                        </div>
                    </div>
                </div>
                <div class="mt-3">
                    <button id="create_account" class="btn w-100 btn-secondary  auth-button">Register</button>
                </div>
                <p class="mt-4 auth-login-text">
                    You are in WealthTrack?
                    <a href={% url 'login' %} class="auth-login-link">Login Here</a>
                    </>
                </div>
            </div>
        </div>
    {% endblock %}
    {% block scripts %}
        <script src={% static "scripts/authentication/register.js" %}></script>
    {% endblock %}
