:root,
[data-bs-theme="light"] {
  --bs-sidebar-color: #064466;
  --bs-white-bg-color: #ffffff;
  --bs-white-txt-color: #000000;
  --bs-content-bg: #f3f3f8;
  --bs-content-header: #ffffff;
  --bs-pagination-border-color: #e9ebec;
  --bs-profile-hover: #f3f3f8;
}

[data-bs-theme="dark"] {
  --bs-sidebar-color: #212529;
  --bs-white-bg-color: #212529;
  --bs-white-txt-color: #ffffff;
  --bs-content-bg: #1b1d21;
  --bs-content-header: #292e32;
  --bs-pagination-border-color: ##32383e;
  --bs-profile-hover: #3e4347;
}

.feather-icon-sm {
  width: 15px;
  height: 15px;
}

.custom-text-wb-toggle {
  color: var(--bs-white-txt-color);
}

.pagination_nav .pagination .page-item > .page-link {
  border-color: var(--bs-pagination-border-color) !important;
  color: var(--bs-white-txt-color) !important;
}

.pagination_nav .pagination .page-item.active > .page-link {
  color: #ffffff !important;
  background-color: #22aeb9 !important;
}

.text-bg-primary,
.bg-primary {
  background-color: #064466 !important;
  color: #ffffff;
}

.text-bg-soft-primary {
  background-color: rgba(6, 68, 102, 0.1) !important;
  border-color: rgba(6, 68, 102, 0.1) !important;
  color: #064466;
}

.text-bg-secondary,
.bg-secondary {
  background-color: #22aeb9 !important;
  color: #ffffff;
}

.text-bg-soft-secondary {
  background-color: rgba(33, 174, 185, 0.1) !important;
  border-color: rgba(33, 174, 185, 0.1) !important;
  color: #22aeb9;
}

.btn-primary {
  background-color: #064466 !important;
  border-color: #064466 !important;
}

.btn-primary:hover {
  background-color: #043047 !important;
  border-color: #043047 !important;
}

.btn-soft-primary {
  background-color: rgba(6, 68, 102, 0.1) !important;
  border-color: rgba(6, 68, 102, 0.1) !important;
  color: #064466;
}

.btn-soft-primary:hover {
  background-color: #064466 !important;
  color: #ffffff !important;
}

.btn-secondary {
  background-color: #22aeb9 !important;
  border-color: #22aeb9 !important;
}

.btn-secondary:hover {
  background-color: #187a82 !important;
  border-color: #187a82 !important;
}

.btn-soft-secondary {
  background-color: rgba(33, 174, 185, 0.1) !important;
  border-color: rgba(33, 174, 185, 0.1) !important;
  color: #22aeb9;
}

.btn-soft-secondary:hover {
  background-color: #22aeb9 !important;
  color: #ffffff !important;
}

.nav-secondary .nav-link.active {
  color: #ffffff;
  background-color: #22aeb9;
}

.nav-secondary li a {
  color: var(--bs-white-txt-color);
}

body {
  height: 100vh;
  overflow: hidden;
}

.layout-wrapper {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.layout-wrapper .layout-menu {
  width: 300px;
  background-color: var(--bs-sidebar-color);
  height: 100vh;
  position: relative;
  display: block;
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
  /* Optional: Customize the scrollbar appearance */
}

.layout-wrapper .layout-menu::-webkit-scrollbar {
  width: 0px;
}

.layout-wrapper .layout-menu::-webkit-scrollbar-thumb {
  background-color: transparent;
}

.layout-wrapper .layout-menu .brand-logo {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100px;
  padding-left: 2rem;
  background-color: var(--bs-sidebar-color);
  cursor: pointer;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 2;
}

.layout-wrapper .layout-menu .brand-logo .logo-box {
  width: 2rem;
  height: 2rem;
  position: relative;
  background-color: #22aeb9;
  border-radius: 0.125rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.layout-wrapper .layout-menu .brand-logo .logo-box img {
  width: 1.38756rem;
  height: 1.236rem;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.layout-wrapper .layout-menu .brand-logo p {
  color: #22aeb9;
  font-weight: 400;
  font-size: 1.0625rem;
  padding: 0;
  margin: 0;
  margin-left: 1rem;
}

.layout-wrapper .layout-menu .brand-logo p .bold-title {
  font-weight: bold;
}

.layout-wrapper .layout-menu .menu-list {
  margin: 0 !important;
  padding: 0 !important;
  list-style: none;
}

.layout-wrapper .layout-menu .menu-list .menu-item {
  margin: 0.5rem 1.19rem;
  position: relative !important;
}

.layout-wrapper .layout-menu .menu-list .menu-item:first-child {
  margin-top: 0rem;
}

.layout-wrapper .layout-menu .menu-list .menu-item:hover > a .item-icon {
  background-color: #22aeb9;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.layout-wrapper .layout-menu .menu-list .menu-item a {
  text-decoration: none;
  padding: 0.5rem 0 0.5rem 0.8rem;
  border-radius: 0.1875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.layout-wrapper .layout-menu .menu-list .menu-item a .item-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.layout-wrapper .layout-menu .menu-list .menu-item a .item-content .item-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 3px;
}

.layout-wrapper .layout-menu .menu-list .menu-item a .item-content .item-icon .icon-style {
  height: 18px;
  width: 18px;
  color: #B3B3B3;
}

.layout-wrapper .layout-menu .menu-list .menu-item a .item-content .item-text {
  color: #B3B3B3;
  font-size: 0.8125rem;
  text-transform: capitalize;
  margin-left: 15px;
}

.layout-wrapper .layout-menu .menu-list .menu-item a .item-arrow .arrow {
  color: #ffffff;
  height: 18px;
  width: 18px;
}

.layout-wrapper .layout-menu .menu-list .menu-item .submenu-list {
  list-style: none;
  margin-top: 0.75rem;
  display: none;
}

.layout-wrapper .layout-menu .menu-list .menu-item .submenu-list .menu-item {
  margin-right: 0;
  position: relative;
}

.layout-wrapper .layout-menu .menu-list .menu-item .submenu-list .menu-item::after {
  content: "";
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: -1.5rem;
  width: 8px;
  height: 1px;
  background-color: #B3B3B3;
}

.layout-wrapper .layout-menu .menu-list .menu-item .submenu-list .menu-item:hover > a {
  color: #ffffff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.layout-wrapper .layout-menu .menu-list .menu-item .submenu-list .menu-item a {
  text-decoration: none;
  background-color: transparent;
  color: #B3B3B3;
  border-radius: 0.1875rem;
  font-size: 0.8125rem;
  text-transform: capitalize;
}

.layout-wrapper .layout-menu .menu-list .active a .item-content .item-icon {
  background-color: #22aeb9;
}

.layout-wrapper .layout-menu .menu-list .active a .item-content .item-icon .icon-style {
  color: #ffffff;
}

.layout-wrapper .layout-menu .menu-list .active a .item-content .item-text {
  color: #ffffff;
}

.layout-wrapper .layout-menu .menu-list .active a .item-arrow .arrow {
  display: block;
}

.layout-wrapper .layout-menu .menu-list .active .submenu-list .active a {
  color: #ffffff;
}

.layout-wrapper .layout-menu .menu-list .active .submenu-list .active::after {
  background-color: #22aeb9;
  height: 5px;
  width: 5px;
  border-radius: 50%;
}

.layout-wrapper .layout-content {
  background-color: var(--bs-content-bg);
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow-y: hidden;
}

.layout-wrapper .layout-content .content-header {
  background-color: var(--bs-content-header);
  margin: 0;
  height: 84px;
  padding-left: 2rem;
  padding-right: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.layout-wrapper .layout-content .content-header .icon_box {
  width: 1.125rem;
  height: 1.125rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--bs-white-txt-color);
  cursor: pointer;
}

.layout-wrapper .layout-content .content-header .toggle_icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.layout-wrapper .layout-content .content-header .mini-icons {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.125rem;
  position: relative;
}

.layout-wrapper .layout-content .content-header .mini-icons .profile-image {
  position: relative;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 0.8rem;
  background-color: var(--bs-profile-hover);
  cursor: pointer;
}

.layout-wrapper .layout-content .content-header .mini-icons .profile-image:hover > .profile-menu {
  display: block;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.layout-wrapper .layout-content .content-header .mini-icons .profile-image .user-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 1rem;
}

.layout-wrapper .layout-content .content-header .mini-icons .profile-image .user-info .user-name {
  margin: 0;
  padding: 0;
  font-size: 0.8rem;
}

.layout-wrapper .layout-content .content-header .mini-icons .profile-image .user-info .user-email {
  margin: 0;
  padding: 0;
  font-size: 0.7rem;
}

.layout-wrapper .layout-content .content-header .mini-icons .profile-image img {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 2.5rem;
  height: 2.5rem;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}

.layout-wrapper .layout-content .content-header .mini-icons .profile-image .profile-menu {
  position: absolute;
  right: 0;
  left: 0;
  top: 100%;
  z-index: 1002;
  border-top: 3px solid #064466;
  -webkit-box-shadow: 0 5px 10px rgba(30, 32, 37, 0.12);
          box-shadow: 0 5px 10px rgba(30, 32, 37, 0.12);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  display: none;
  cursor: default;
}

.layout-wrapper .layout-content .content-header .mini-icons .profile-image .profile-menu .wrapper {
  width: 100%;
  height: 100%;
  background-color: var(--bs-content-header);
  border-radius: 3px;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.layout-wrapper .layout-content .content-header .mini-icons .profile-image .profile-menu .wrapper .info {
  width: 100%;
  margin-bottom: 10px;
}

.layout-wrapper .layout-content .content-header .mini-icons .profile-image .profile-menu .wrapper .info .name {
  text-transform: capitalize;
  font-weight: 600;
  font-size: 0.8rem;
}

.layout-wrapper .layout-content .content-header .mini-icons .profile-image .profile-menu .wrapper .info .email {
  text-transform: lowercase;
  font-weight: 400;
  font-size: 0.6rem;
}

.layout-wrapper .layout-content .content-header .mini-icons .profile-image .profile-menu .wrapper .item {
  cursor: pointer;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 0.6rem;
  cursor: pointer;
}

.layout-wrapper .layout-content .content-header .mini-icons .profile-image .profile-menu .wrapper .item:first-child {
  margin-top: 0;
}

.layout-wrapper .layout-content .content-header .mini-icons .profile-image .profile-menu .wrapper .item a {
  text-decoration: none;
  color: var(--bs-white-txt-color);
  padding: 0;
  margin: 0;
  padding-left: 10px;
  font-size: 0.8rem;
  text-transform: capitalize;
}

.layout-wrapper .layout-content .content-header .mini-icons .flag-box {
  position: relative;
  width: 2rem;
  height: 1.5rem;
  cursor: pointer;
}

.layout-wrapper .layout-content .content-header .mini-icons .flag-box img {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 0.125rem;
}

.layout-wrapper .layout-content .content-header .mini-icons .flag-box:hover > .languages-list {
  display: block;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.layout-wrapper .layout-content .content-header .mini-icons .flag-box .languages-list {
  position: absolute;
  right: 0;
  top: 100%;
  z-index: 1002;
  border-top: 3px solid #064466;
  -webkit-box-shadow: 0 5px 10px rgba(30, 32, 37, 0.12);
          box-shadow: 0 5px 10px rgba(30, 32, 37, 0.12);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  display: none;
  cursor: default;
}

.layout-wrapper .layout-content .content-header .mini-icons .flag-box .languages-list .wrapper {
  width: 100%;
  height: 100%;
  background-color: var(--bs-content-header);
  border-radius: 3px;
  padding: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.layout-wrapper .layout-content .content-header .mini-icons .flag-box .languages-list .wrapper .item {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 0.6rem;
  cursor: pointer;
  text-decoration: none;
  color: var(--bs-white-txt-color);
}

.layout-wrapper .layout-content .content-header .mini-icons .flag-box .languages-list .wrapper .item:first-child {
  margin-top: 0;
}

.layout-wrapper .layout-content .content-header .mini-icons .flag-box .languages-list .wrapper .item .flag {
  width: 1.5rem;
  height: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.layout-wrapper .layout-content .content-header .mini-icons .flag-box .languages-list .wrapper .item .flag img {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 0.125rem;
}

.layout-wrapper .layout-content .content-header .mini-icons .flag-box .languages-list .wrapper .item p {
  text-transform: capitalize;
  font-size: 0.7rem;
  padding-left: 0.5rem;
  margin: 0;
}

.layout-wrapper .layout-content .content-page-titles {
  background-color: var(--bs-white-bg-color);
  color: var(--bs-white-txt-color);
  border-top: 0.2px solid #F3F3F8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.5rem 2rem;
  -webkit-box-shadow: 0 1px 2px var(--bs-content-bg);
          box-shadow: 0 1px 2px var(--bs-content-bg);
  margin-top: 0.6px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.layout-wrapper .layout-content .content-page-titles .title {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 15px;
}

.layout-wrapper .layout-content .content-page-titles .parent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 13px;
  text-transform: capitalize;
  font-weight: 500;
}

.layout-wrapper .layout-content .content-page-titles .parent .title-text {
  font-weight: 400;
}

.layout-wrapper .layout-content .content-page-titles .parent .parent-icon {
  width: 15px;
  height: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 5px;
  margin-right: 5px;
}

.layout-wrapper .layout-content .page-content {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding-right: 1rem;
  padding-left: 1rem;
  padding-top: 1rem;
  overflow: scroll;
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}

.layout-wrapper .layout-content .page-content::-webkit-scrollbar {
  width: 0px;
}

.layout-wrapper .layout-content .page-content::-webkit-scrollbar-thumb {
  background-color: transparent;
}

@media screen and (min-width: 1025px) {
  .layout-wrapper .layout-menu {
    display: block !important;
  }
}

@media screen and (max-width: 1024px) and (min-width: 768px) {
  .layout-wrapper .layout-menu {
    display: block !important;
    width: 94px;
  }
  .layout-wrapper .brand-logo {
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
    padding-left: 0 !important;
  }
  .layout-wrapper .brand-logo p {
    display: none;
  }
  .layout-wrapper .menu-list {
    margin: 0 !important;
    padding: 0 !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .layout-wrapper .menu-list .menu-item {
    margin-bottom: 12px !important;
    padding: 0 !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
  .layout-wrapper .menu-list .menu-item .item-link {
    padding: 0 !important;
    margin: 0 !important;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .layout-wrapper .menu-list .menu-item .item-link .item-content {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .layout-wrapper .menu-list .menu-item .item-link .item-content .item-text {
    display: none;
  }
  .layout-wrapper .menu-list .menu-item .item-link .item-arrow {
    display: none;
  }
  .layout-wrapper .menu-list .menu-item:hover {
    background-color: wheat;
  }
  .layout-wrapper .menu-list .menu-item:hover > .submenu-list {
    z-index: 1002;
    display: block;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  .layout-wrapper .menu-list .menu-item .submenu-list {
    position: absolute;
    padding: 10px 0 !important;
    left: 100%;
    width: 150px;
    background-color: var(--bs-sidebar-color);
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    display: block !important;
  }
  .layout-wrapper .menu-list .menu-item .submenu-list .menu-item {
    margin: 0 !important;
    padding: 0 !important;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
  .layout-wrapper .menu-list .menu-item .submenu-list .menu-item::after {
    display: none;
  }
  .layout-wrapper .menu-list .menu-item .submenu-list .menu-item:hover > a {
    color: #ffffff;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  .layout-wrapper .menu-list .menu-item .submenu-list .menu-item .item-link {
    text-decoration: none;
    background-color: transparent;
    color: #B3B3B3;
    text-transform: capitalize;
    padding: 6px !important;
  }
}

@media screen and (max-width: 767px) {
  .layout-wrapper .layout-menu {
    position: absolute;
    left: 0;
    top: 0;
    display: none !important;
    z-index: 1002;
  }
  .layout-wrapper .layout-content .content-page-titles {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
}
/*# sourceMappingURL=index.css.map */