@import "../base/colors.scss";

:root,
[data-bs-theme="light"] {
  --bs-sidebar-color: #064466;
  --bs-white-bg-color: #ffffff;
  --bs-white-txt-color: #000000;
  --bs-content-bg: #f3f3f8;
  --bs-content-header: #ffffff;
  --bs-pagination-border-color: #e9ebec;
  --bs-profile-hover: #f3f3f8;
}

[data-bs-theme="dark"] {
  --bs-sidebar-color: #212529;
  --bs-white-bg-color: #212529;
  --bs-white-txt-color: #ffffff;
  --bs-content-bg: #1b1d21;
  --bs-content-header: #292e32;
  --bs-pagination-border-color: ##32383e;
  --bs-profile-hover: #3e4347;
}

.feather-icon-sm {
  width: 15px;
  height: 15px;
}

.custom-text-wb-toggle {
  color: var(--bs-white-txt-color);
}

// pagination
.pagination_nav {
  .pagination {
    .page-item > .page-link {
      border-color: var(--bs-pagination-border-color) !important;
      color: var(--bs-white-txt-color) !important;
    }

    .page-item.active > .page-link {
      color: $white-color !important;
      background-color: $secondary-color !important;
    }
  }
}

// Background
.text-bg-primary,
.bg-primary {
  background-color: $primary-color !important;
  color: $white-color;
}

.text-bg-soft-primary {
  background-color: $primary-shade-1-color !important;
  border-color: $primary-shade-1-color !important;
  color: $primary-color;
}

.text-bg-secondary,
.bg-secondary {
  background-color: $secondary-color !important;
  color: $white-color;
}

.text-bg-soft-secondary {
  background-color: $secondary-shade-1-color !important;
  border-color: $secondary-shade-1-color !important;
  color: $secondary-color;
}

// Buttons

.btn-primary {
  background-color: $primary-color !important;
  border-color: $primary-color !important;

  &:hover {
    background-color: #043047 !important;
    border-color: #043047 !important;
  }
}

.btn-soft-primary {
  background-color: $primary-shade-1-color !important;
  border-color: $primary-shade-1-color !important;
  color: $primary-color;

  &:hover {
    background-color: $primary-color !important;
    color: $white-color !important;
  }
}

.btn-secondary {
  background-color: $secondary-color !important;
  border-color: $secondary-color !important;

  &:hover {
    background-color: #187a82 !important;
    border-color: #187a82 !important;
  }
}

.btn-soft-secondary {
  background-color: $secondary-shade-1-color !important;
  border-color: $secondary-shade-1-color !important;
  color: $secondary-color;

  &:hover {
    background-color: $secondary-color !important;
    color: $white-color !important;
  }
}

// nav
.nav-secondary {
  .nav-link.active {
    color: $white-color;
    background-color: $secondary-color;
  }

  li {
    a {
      color: var(--bs-white-txt-color);
    }
  }
}

body {
  height: 100vh;
  overflow: hidden;
}

.layout-wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  .layout-menu {
    width: 300px;
    background-color: var(--bs-sidebar-color);
    height: 100vh;
    // padding-top: 2.44rem;
    position: relative;
    display: block;
    overflow-y: scroll;

    scrollbar-width: thin;
    scrollbar-color: transparent transparent;

    /* Optional: Customize the scrollbar appearance */

    &::-webkit-scrollbar {
      width: 0px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: transparent;
    }

    .brand-logo {
      text-decoration: none;
      display: flex;
      justify-content: start;
      align-items: center;
      height: 100px;
      // margin-bottom: 2.8rem;
      padding-left: 2rem;
      background-color: var(--bs-sidebar-color);
      cursor: pointer;

      position: sticky;
      top: 0;
      z-index: 2;

      .logo-box {
        width: 2rem;
        height: 2rem;
        position: relative;
        background-color: $secondary-color;
        border-radius: 0.125rem;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
          width: 1.38756rem;
          height: 1.236rem;
          flex-shrink: 0;
        }
      }

      p {
        color: $secondary-color;
        font-weight: 400;
        font-size: 1.0625rem;
        padding: 0;
        margin: 0;
        margin-left: 1rem;

        .bold-title {
          font-weight: bold;
        }
      }
    }

    .menu-list {
      // list-style: none;
      // margin-left: 1.1rem;
      // margin-right: 1.1rem;
      margin: 0 !important;
      padding: 0 !important;
      list-style: none;

      .menu-item {
        margin: 0.5rem 1.19rem;
        position: relative !important;

        &:first-child {
          margin-top: 0rem;
        }

        &:hover > a .item-icon {
          background-color: $secondary-color;
          transition: 0.5s;
        }

        a {
          text-decoration: none;
          padding: 0.5rem 0 0.5rem 0.8rem;
          border-radius: 0.1875rem;

          display: flex;
          justify-content: space-between;
          align-items: center;

          .item-content {
            display: flex;
            justify-content: start;
            align-items: center;

            .item-icon {
              display: flex;
              justify-content: center;
              align-items: center;
              width: 30px;
              height: 30px;
              border-radius: 3px;

              .icon-style {
                height: 18px;
                width: 18px;
                color: $smoke-4-color;
              }
            }

            .item-text {
              color: $smoke-4-color;
              font-size: 0.8125rem;
              text-transform: capitalize;
              margin-left: 15px;
            }
          }

          .item-arrow {
            .arrow {
              color: $white-color;
              // display: none;
              height: 18px;
              width: 18px;
            }
          }
        }

        .submenu-list {
          list-style: none;
          margin-top: 0.75rem;
          display: none;

          .menu-item {
            margin-right: 0;
            position: relative;

            &::after {
              content: "";
              position: absolute;
              top: 50%;
              transform: translateY(-50%);
              left: -1.5rem;
              width: 8px;
              height: 1px;
              background-color: $smoke-4-color;
            }

            &:hover > a {
              color: $white-color;
              transition: 0.5s;
            }

            a {
              text-decoration: none;
              background-color: transparent;
              color: $smoke-4-color;
              border-radius: 0.1875rem;
              font-size: 0.8125rem;
              text-transform: capitalize;
            }
          }
        }
      }

      .active {
        a {
          .item-content {
            .item-icon {
              background-color: $secondary-color;

              .icon-style {
                color: $white-color;
              }
            }

            .item-text {
              color: $white-color;
            }
          }

          .item-arrow {
            .arrow {
              display: block;
            }
          }
        }

        .submenu-list {
          .active {
            a {
              color: $white-color;
            }

            &::after {
              background-color: $secondary-color;
              height: 5px;
              width: 5px;
              border-radius: 50%;
            }
          }
        }
      }
    }
  }

  .layout-content {
    background-color: var(--bs-content-bg);
    height: 100vh;
    display: flex;
    flex-direction: column;
    // margin-bottom: 20px;
    overflow-y: hidden;

    .content-header {
      background-color: var(--bs-content-header);
      margin: 0;
      height: 84px;
      padding-left: 2rem;
      padding-right: 2rem;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .icon_box {
        width: 1.125rem;
        height: 1.125rem;
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--bs-white-txt-color);
        cursor: pointer;
      }

      .toggle_icon {
        display: flex;
        justify-content: start;
        align-items: center;
      }

      .mini-icons {
        height: 100%;
        display: flex;
        justify-content: end;
        align-items: center;
        gap: 1.125rem;
        position: relative;

        .profile-image {
          position: relative;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 0 0.8rem;
          background-color: var(--bs-profile-hover);
          // overflow: hidden;
          // width: 2.5rem;
          // height: 2.5rem;
          // border-radius: 50%;
          cursor: pointer;

          &:hover > .profile-menu {
            display: block;
            transition: 0.5s;
          }
          .user-info {
            display: flex;
            justify-content: center;
            align-items: start;
            flex-direction: column;
            padding-left: 1rem;

            .user-name {
              margin: 0;
              padding: 0;
              font-size: 0.8rem;
            }

            .user-email {
              margin: 0;
              padding: 0;
              font-size: 0.7rem;
            }
          }
          img {
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            width: 2.5rem;
            height: 2.5rem;
            object-fit: cover;
            border-radius: 50%;
          }

          .profile-menu {
            position: absolute;
            right: 0;
            left: 0;
            top: 100%;
            z-index: 1002;
            border-top: 3px solid $primary-color;
            // box-shadow: 0 1px 2px var(--bs-content-bg);
            box-shadow: 0 5px 10px rgba(30, 32, 37, 0.12);
            transition: 0.5s;
            display: none;
            cursor: default;

            .wrapper {
              width: 100%;
              height: 100%;
              background-color: var(--bs-content-header);
              border-radius: 3px;
              padding: 1rem;
              display: flex;
              justify-content: start;
              align-items: center;
              flex-direction: column;
              // border-top: 20px solid $primary-color;

              .info {
                width: 100%;
                margin-bottom: 10px;

                .name {
                  text-transform: capitalize;
                  font-weight: 600;
                  font-size: 0.8rem;
                }

                .email {
                  text-transform: lowercase;
                  font-weight: 400;
                  font-size: 0.6rem;
                }
              }

              .item {
                cursor: pointer;
                width: 100%;
                display: flex;
                justify-content: start;
                align-items: center;
                margin-top: 0.6rem;
                cursor: pointer;

                &:first-child {
                  margin-top: 0;
                }

                a {
                  text-decoration: none;
                  color: var(--bs-white-txt-color);
                  padding: 0;
                  margin: 0;
                  padding-left: 10px;
                  font-size: 0.8rem;
                  text-transform: capitalize;
                }
              }
            }
          }
        }

        .flag-box {
          position: relative;
          width: 2rem;
          height: 1.5rem;
          cursor: pointer;

          img {
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;

            border-radius: 0.125rem;
          }

          &:hover > .languages-list {
            display: block;
            transition: 0.5s;
          }

          .languages-list {
            position: absolute;
            right: 0;
            top: 100%;
            z-index: 1002;
            border-top: 3px solid $primary-color;
            // box-shadow: 0 1px 2px var(--bs-content-bg);
            box-shadow: 0 5px 10px rgba(30, 32, 37, 0.12);
            transition: 0.5s;
            display: none;
            cursor: default;

            .wrapper {
              width: 100%;
              height: 100%;
              background-color: var(--bs-content-header);
              border-radius: 3px;
              padding: 0.5rem;
              display: flex;
              justify-content: start;
              align-items: start;
              flex-direction: column;
              // border-top: 20px solid $primary-color;

              .item {
                width: 100%;
                display: flex;
                justify-content: start;
                align-items: center;
                margin-top: 0.6rem;
                cursor: pointer;
                text-decoration: none;
                color: var(--bs-white-txt-color);

                &:first-child {
                  margin-top: 0;
                }

                .flag {
                  width: 1.5rem;
                  height: 1rem;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  position: relative;

                  img {
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 0.125rem;
                  }
                }

                p {
                  text-transform: capitalize;
                  font-size: 0.7rem;
                  padding-left: 0.5rem;
                  margin: 0;
                }
              }
            }
          }
        }
      }
    }

    .content-page-titles {
      background-color: var(--bs-white-bg-color);
      color: var(--bs-white-txt-color);
      border-top: 0.2px solid $smoke-2-color;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0.5rem 2rem;
      box-shadow: 0 1px 2px var(--bs-content-bg);
      // margin-bottom: 20px;
      margin-top: 0.6px;
      flex-shrink: 0;
      // height: 5vh;

      .title {
        font-weight: bold;
        text-transform: uppercase;
        font-size: 15px;
      }

      .parent {
        display: flex;
        justify-content: end;
        align-items: center;
        font-size: 13px;
        text-transform: capitalize;
        font-weight: 500;

        .title-text {
          font-weight: 400;
        }

        .parent-icon {
          width: 15px;
          height: 15px;
          display: flex;
          justify-content: center;
          align-items: center;
          margin-left: 5px;
          margin-right: 5px;
        }
      }
    }

    .page-content {
      flex-grow: 1;
      padding-right: 1rem;
      padding-left: 1rem;
      padding-top: 1rem;
      overflow: scroll;

      scrollbar-width: thin;
      scrollbar-color: transparent transparent;

      &::-webkit-scrollbar {
        width: 0px;
      }

      &::-webkit-scrollbar-thumb {
        background-color: transparent;
      }
    }
  }
}

@media screen and (min-width: 1025px) {
  .layout-wrapper {
    .layout-menu {
      display: block !important;
    }
  }
}

@media screen and (max-width: 1024px) and (min-width: 768px) {
  .layout-wrapper {
    .layout-menu {
      display: block !important;
      width: 94px;
    }

    .brand-logo {
      justify-content: center !important;
      padding-left: 0 !important;
      p {
        display: none;
      }
    }

    .menu-list {
      margin: 0 !important;
      padding: 0 !important;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      .menu-item {
        margin-bottom: 12px !important;
        padding: 0 !important;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;

        .item-link {
          padding: 0 !important;
          margin: 0 !important;
          justify-content: center;

          .item-content {
            justify-content: center;
            .item-text {
              display: none;
            }
          }

          .item-arrow {
            display: none;
          }
        }

        &:hover {
          background-color: wheat;
        }

        &:hover > .submenu-list {
          z-index: 1002;
          display: block;
          transition: 0.5s;
        }

        .submenu-list {
          position: absolute;
          padding: 10px 0 !important;
          left: 100%;
          width: 150px;
          background-color: var(--bs-sidebar-color);
          border-top-right-radius: 3px;
          border-bottom-right-radius: 3px;
          // border-left: 1px solid $secondary-color;
          display: block !important;

          .menu-item {
            margin: 0 !important;
            padding: 0 !important;
            align-items: center;
            justify-content: start;
            &::after {
              display: none;
            }

            &:hover > a {
              color: $white-color;
              transition: 0.5s;
            }

            .item-link {
              text-decoration: none;
              background-color: transparent;
              color: $smoke-4-color;
              text-transform: capitalize;
              padding: 6px !important;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .layout-wrapper {
    .layout-menu {
      position: absolute;
      left: 0;
      top: 0;
      display: none !important;
      z-index: 1002;
    }

    .layout-content {
      .content-page-titles {
        flex-direction: column;
        justify-content: center;
        align-items: start;
      }
    }
  }
}
