:root,
[data-bs-theme="light"] {
  --bs-balance-backrgound-color: #212529;
  --bs-balance-color: #ffffff;
}

[data-bs-theme="dark"] {
  --bs-balance-backrgound-color: #ced4da;
  --bs-balance-color: #000000;
}

.layout-wrapper .layout-content .page-content table {
  font-size: 0.6rem;
}

.layout-wrapper .layout-content .page-content th.income_table {
  background-color: #064466;
  border: 1px solid #064466;
  color: #ffffff;
}

.layout-wrapper .layout-content .page-content td.income_table {
  background-color: rgba(6, 68, 102, 0.1);
  border: 1px solid #064466;
}

.layout-wrapper .layout-content .page-content th.expense_table {
  background-color: #22aeb9;
  border: 1px solid #22aeb9;
  color: #ffffff;
}

.layout-wrapper .layout-content .page-content td.expense_table {
  background-color: rgba(34, 174, 185, 0.1);
  border: 1px solid #22aeb9;
}

.layout-wrapper .layout-content .page-content .income_table {
  border: 1px solid #064466;
}

.layout-wrapper .layout-content .page-content .income_table td,
.layout-wrapper .layout-content .page-content .income_table th {
  border: 1px solid #064466;
}

.layout-wrapper .layout-content .page-content .income_table tbody tr > td {
  background-color: rgba(6, 68, 102, 0.1);
}

.layout-wrapper .layout-content .page-content .expense_table {
  border: 1px solid #22aeb9;
}

.layout-wrapper .layout-content .page-content .expense_table td,
.layout-wrapper .layout-content .page-content .expense_table th {
  border: 1px solid #22aeb9;
}

.layout-wrapper .layout-content .page-content .expense_table tbody tr > td {
  background-color: rgba(34, 174, 185, 0.1);
}
/*# sourceMappingURL=transaction.css.map */