@import "../base/colors.scss";

:root,
[data-bs-theme="light"] {
  --bs-balance-backrgound-color: #212529;
  --bs-balance-color: #ffffff;
}

[data-bs-theme="dark"] {
  --bs-balance-backrgound-color: #ced4da;
  --bs-balance-color: #000000;
}

.layout-wrapper {
  .layout-content {
    .page-content {
      table{
        font-size: 0.6rem;
      }

      th.income_table{
        background-color: rgba(6, 68, 102, 1);
        border: 1px solid $primary-color;
        color: #ffffff;
      }
      td.income_table{
        background-color: rgba(6, 68, 102, .1);
        border: 1px solid $primary-color;
      }

      th.expense_table{
        background-color: rgba(34, 174, 185, 1);
        border: 1px solid $secondary-color;
        color: #ffffff;
      }
      td.expense_table{
        background-color: rgba(34, 174, 185, .1);
        border: 1px solid $secondary-color;
      }


      .income_table {
        border: 1px solid $primary-color;
        td,
        th {
          border: 1px solid $primary-color;
        }
        tbody {
          tr > td {
            background-color: rgba(6, 68, 102, 0.1);
          }
        }
      }

      .expense_table {
        border: 1px solid $secondary-color;
        td,
        th {
          border: 1px solid $secondary-color;
        }
        tbody {
          tr > td {
            background-color: rgba(34, 174, 185,.1);
          }
        }
      }
    }
  }
}
