{% extends '../base/index.html' %}
{% load static %}
{% load humanize %}
{% load main %}
{% block body %}
    <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-4">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md">
                            <h6 class="card-title  flex-grow-1 text-start">Summary</h6>
                        </div>
                        <div class="col-md-auto">
                            <div class="hstack gap-1 flex-wrap">
                                {% comment %} <button class="btn btn-sm btn-primary" id="transfer_money">Transfer to an account</button> {% endcomment %}
                                <a href="{% url 'accounts' %}"
                                   class="btn btn-danger btn-sm"
                                   data-bs-toggle="tooltip"
                                   data-bs-trigger="hover"
                                   data-bs-placement="left"
                                   title="Go Back">
                                    <i data-feather="corner-up-left" class="feather-icon-sm"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <table class="table mb-0">
                        <tbody>
                            <tr>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td class="fw-bold">Account Name :</td>
                                <td>{{ account.name }}</td>
                            </tr>
                            <tr>
                                <td class="fw-bold">Total Deposit :</td>
                                <td>${{ status.deposit|intcomma }}</td>
                            </tr>
                            <tr>
                                <td class="fw-bold">Total Withdrawal :</td>
                                <td>${{ status.withdraw|intcomma }}</td>
                            </tr>
                            <tr>
                                <td class="fw-bold">Total Balance :</td>
                                <td>${{ status.balance|intcomma }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-8">
            <div class="card">
                <div class="card-body">
                    <div class="row mb-2 g-4 align-items-center">
                        <div class="col-sm-3"></div>
                        <div class="col-sm-auto ms-auto">
                            <div class="hstack gap-2">
                                <div class="form-group">
                                    <select id="years" name="years" years={{ year }} class="form-control select2 w-100">
                                        <option value="all">All years</option>
                                        {% for item in years %}<option value="{{ item }}">{{ item }}</option>{% endfor %}
                                    </select>
                                </div>
                                {% if year != 'all' %}
                                    <div class="form-group">
                                        <select id="months" name="months" months={{ month }} class="form-control select2 w-100">
                                            <option value="all">All months</option>
                                            {% for item in months %}<option value="{{ item }}">{{ item }}</option>{% endfor %}
                                        </select>
                                    </div>
                                {% endif %}
                                <div class="form-group">
                                    <select id="DataNumber" name="DataNumber" DataNumber={{ datanumber }} class="form-control select2 w-100">
                                        <option value="5">5</option>
                                        <option value="10">10</option>
                                        <option value="30">30</option>
                                        <option value="50">50</option>
                                        <option value="100">100</option>
                                    </select>
                                </div>
                                <form autocomplete="off">
                                    <div class="input-group mr-0">
                                        <input id="SearchQuery"
                                               type="text"
                                               placeholder="Search..."
                                               value='{{ search }}'
                                               class="form-control" />
                                        <button class="btn btn-primary SearchQueryBTN"
                                                type="button"
                                                id="button-addon2">
                                            <i data-feather="search" class="feather-icon-sm"></i>
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="table-responsive">
                                <table id="datatable"
                                       class="accounts_table table"
                                       style="width: 100%;
                                              font-size:0.8rem">
                                    <thead>
                                        <tr>
                                            <th>Date</th>
                                            <th>Type</th>
                                            <th>Sub Type</th>
                                            <th>Amount</th>
                                            <th>Source</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% if  paginator_obj %}
                                            {% for item in paginator_obj %}
                                                <tr>
                                                    <td>{{ item.transaction_date }}</td>
                                                    <td>
                                                        <span class="badge text-bg-{% if item.type == 'deposit' %}secondary{% else %}danger{% endif %}">{{ item.type }}</span>
                                                    </td>
                                                    <td>{{ item.sub_type }}</td>
                                                    <td>${{ item.amount|intcomma }}</td>
                                                    <td>{{ item.source }}</td>
                                                </tr>
                                            {% endfor %}
                                        {% endif %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- Pagination -->
                        <div class="col-md-12 d-flex justify-content-between align-items-center">
                            <p activePage="{{ page_obj.number }}" class="p-0 m-0 activePage">
                                Showing {{ paginator_obj.number }} to {{ paginator_obj.paginator.num_pages }} of {{ paginator_obj.paginator.count }} entries
                            </p>
                            <nav class="pagination_nav">
                                <ul class="pagination justify-content-end">
                                    <li class="page-item {% if not paginator_obj.has_previous %}disabled{% endif %}">
                                        <a class="page-link" tabindex="-1" page="1">Previous</a>
                                    </li>
                                    <li class="page-item {% if not paginator_obj.has_previous %}disabled{% endif %}">
                                        <a class="page-link"
                                           tabindex="-1"
                                           page="{% if paginator_obj.has_previous %}{{ paginator_obj.previous_page_number }}{% else %}No Page{% endif %}"><i class="feather-icon-sm" data-feather="chevrons-left"></i></a>
                                    </li>
                                    <li class="page-item {% if not paginator_obj.has_next %}disabled{% endif %}">
                                        <a class="page-link"
                                           tabindex="-1"
                                           page="{% if paginator_obj.has_next %}{{ paginator_obj.next_page_number }}{% else %}No Page{% endif %}"><i class="feather-icon-sm" data-feather="chevrons-right"></i></a>
                                    </li>
                                    <li class="page-item {% if not paginator_obj.has_next %}disabled{% endif %}">
                                        <a class="page-link" page="{{ paginator_obj.paginator.num_pages }}">Next</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal for transfer money to an account -->
    <div id="transferModal"
         class="modal fade zoomIn"
         tabindex="-1"
         aria-labelledby="myModalLabel"
         aria-hidden="true"
         style="display: none">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header pb-2 bg-primary">
                    <h5 class="text-white" id="modalLabel">Transfer to an account</h5>
                    <button type="button"
                            class="btn-close"
                            data-bs-dismiss="modal"
                            aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="transfer_account" class="form-label">Which account to tranfer to?</label>
                        <select name="" id="transfer_account" class="form-select">
                            <option value="">Which account to tranfer to?</option>
                            {% get_user_accounts request  as accounts %}
                            {% for item in accounts %}
                                {% if account.id != item.id %}
                                    <option amount={{ item.get_account_balance.balance }} value={{ item.id }}>{{ item.name }}
                                    </option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="transfer_amount" class="form-label">Transfer Date</label>
                        <input type="date" name="" id="transfer_date" class="form-control">
                    </div>
                    <div class="mb-3">
                        <label for="transfer_amount" class="form-label">Transfer amount</label>
                        <input name=""
                               type="number"
                               id="transfer_amount"
                               class="form-control"
                               placeholder="Transfer amount" />
                    </div>
                    <div class="mb-3">
                        <label for="transfer_amount_words" class="form-label">Amount in words</label>
                        <textarea placeholder="Amount in words" class="form-control" name="" id="transfer_amount_words" cols="30" rows="5" disabled>
                        </textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light" data-bs-dismiss="modal">Close</button>
                    <button id="save_transfer"
                            type="button"
                            data-loading='false'
                            class="btn btn-primary">Submit transfer</button>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}
{% block scripts %}
    <script>const private__id = '{{ id|safe }}';</script>
    <script>const private__encrypted__id = '{{ encrypt_id|safe }}';</script>
    <script src={% static "scripts/essentials/account_details.js" %}></script>
{% endblock scripts %}
