{% extends '../base/index.html' %}
{% load static %}
{% load humanize %}
{% block links %}
    <!-- Datatables -->
    <link rel="stylesheet" href="{% static "assets/libs/datatable/bootstrap.min.css" %}" />
    <link rel="stylesheet" href="{% static "assets/libs/datatable/bootstrap5.min.css" %}" />
    <link rel="stylesheet" href="{% static "assets/libs/datatable/buttons.dataTables.min.css" %}" />
{% endblock links %}
{% block body %}
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <div class="row mb-2 g-4 align-items-center">
                        <div class="col-sm-3">
                            <button type="button"
                                    class="btn btn-secondary waves-effect waves-light"
                                    id="new_account_btn">Add account</button>
                        </div>
                        <div class="col-sm-auto ms-auto">
                            <div class="hstack gap-2">
                                <div class="form-group">
                                    <select id="DataNumber" name="DataNumber" DataNumber={{ datanumber }} DataNumber="10" class="form-control select2 w-100">
                                        <option value="5">5</option>
                                        <option value="10">10</option>
                                        <option value="30">30</option>
                                        <option value="50">50</option>
                                        <option value="100">100</option>
                                    </select>
                                </div>
                                <form autocomplete="off">
                                    <div class="input-group mr-0">
                                        <input id="SearchQuery"
                                               type="text"
                                               placeholder="Search..."
                                               value='{{ search }}'
                                               class="form-control" />
                                        <button class="btn btn-primary SearchQueryBTN"
                                                type="button"
                                                id="button-addon2">
                                            <i data-feather="search" class="feather-icon-sm"></i>
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        {% if  paginator_obj %}
                            <div class="col-md-12 text-center">
                                <div class="alert alert-info">
                                    Your balance is <strong>${{ users_balance|intcomma }}</strong>
                                </div>
                            </div>
                        {% endif %}
                        <div class="col-md-12">
                            <table id="datatable"
                                   class="accounts_table table table-bordered table-hover dt-responsive nowrap table-striped align-middle"
                                   style="width: 100%">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        {% if request.user.is_superuser %}
                                            <th>User ID</th>
                                            <th>User name</th>
                                        {% endif %}
                                        <th>Account name</th>
                                        <th>Balance</th>
                                        <th>Created</th>
                                        <th>Modified</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% if  paginator_obj %}
                                        {% for item in paginator_obj %}
                                            <tr>
                                                <td class="fw-bold">{{ forloop.counter }}.</td>
                                                {% if request.user.is_superuser %}
                                                    <td>{{ item.user.username }}</td>
                                                    <td>{{ item.user.get_full_name }}</td>
                                                {% endif %}
                                                <td>
                                                    <a style="text-decoration:none"
                                                       href="{% url 'account_details' item.encrypt_id %}">{{ item.name }}</a>
                                                </td>
                                                <td>${{ item.get_account_balance.balance|intcomma }}</td>
                                                <td>{{ item.created_at }}</td>
                                                <td>{{ item.modified_at }}</td>
                                                <td>
                                                    <button id="edit_account" data-row={{ item.id }} class="btn btn-sm btn-primary">
                                                        <i class="feather-icon-sm" data-feather="edit-2"></i>
                                                    </button>
                                                    {% comment %} <button class="btn btn-sm btn-danger">
                                                        <i class="feather-icon-sm" data-feather="trash"></i>
                                                    </button> {% endcomment %}
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    {% endif %}
                                </tbody>
                            </table>
                        </div>
                        <!-- Pagination -->
                        <div class="col-md-12 d-flex justify-content-between align-items-center">
                            <p activePage="{{ page_obj.number }}" class="p-0 m-0 activePage">
                                Showing {{ paginator_obj.number }} to {{ paginator_obj.paginator.num_pages }} of {{ paginator_obj.paginator.count }} entries
                            </p>
                            <nav class="pagination_nav">
                                <ul class="pagination justify-content-end">
                                    <li class="page-item {% if not paginator_obj.has_previous %}disabled{% endif %}">
                                        <a class="page-link" tabindex="-1" page="1">Previous</a>
                                    </li>
                                    <li class="page-item {% if not paginator_obj.has_previous %}disabled{% endif %}">
                                        <a class="page-link"
                                           tabindex="-1"
                                           page="{% if paginator_obj.has_previous %}{{ paginator_obj.previous_page_number }}{% else %}No Page{% endif %}"><i class="feather-icon-sm" data-feather="chevrons-left"></i></a>
                                    </li>
                                    <li class="page-item {% if not paginator_obj.has_next %}disabled{% endif %}">
                                        <a class="page-link"
                                           tabindex="-1"
                                           page="{% if paginator_obj.has_next %}{{ paginator_obj.next_page_number }}{% else %}No Page{% endif %}"><i class="feather-icon-sm" data-feather="chevrons-right"></i></a>
                                    </li>
                                    <li class="page-item {% if not paginator_obj.has_next %}disabled{% endif %}">
                                        <a class="page-link" page="{{ paginator_obj.paginator.num_pages }}">Next</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal for creating and updating account -->
    <div id="accountModal"
         class="modal fade zoomIn"
         tabindex="-1"
         aria-labelledby="myModalLabel"
         aria-hidden="true"
         style="display: none">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header pb-2 bg-primary">
                    <h5 class="text-white" id="modalLabel">Add account</h5>
                    <button type="button"
                            class="btn-close"
                            data-bs-dismiss="modal"
                            aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <input type="hidden" name="" id="account_id">
                    <div class="mb-3">
                        <label for="account_name" class="form-label">Account name</label>
                        <input type="text"
                               placeholder="Enter an account name"
                               id="account_name"
                               class="form-control">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light" data-bs-dismiss="modal">Close</button>
                    <button id="save_account"
                            type="button"
                            data-loading='false'
                            class="btn btn-primary">Create</button>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}
{% block scripts %}
    <!-- DataTables -->
    <script src={% static "assets/libs/datatable/jquery.dataTables.min.js" %}></script>
    <script src={% static "assets/libs/datatable/dataTables.bootstrap5.min.js" %}></script>
    <script src={% static "assets/libs/datatable/dataTables.responsive.min.js" %}></script>
    <script src={% static "assets/libs/datatable/dataTables.buttons.min.js" %}></script>
    <script>
        $("#datatable").DataTable({
            lengthChange: false,
            searching: false,
            paging: false,
            info: false,
          });
    </script>
    <script src={% static "scripts/essentials/accounts.js" %}></script>
{% endblock scripts %}
