{% extends '../base/index.html' %}
{% load static %}
{% load main %}
{% block body %}
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <h5>New transaction</h5>
                    <p class="text-muted">
                        Take control of your finances with <code>WealthTrack</code>!
                        Add a transaction to start managing your money effectively.
                        Simply fill out the form with the transaction details.
                    </p>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <div class="mb-3">
                        <label for="transaction_type" class="form-label">Transaction Type</label>
                        <select name="" id="transaction_type" class="form-control">
                            <option value="">Transaction Type</option>
                            <option value="income">Income Transaction</option>
                            <option value="expense">Expense Transaction</option>
                            <option value="saving">Saving Transaction</option>
                            <option value="transfer">Account to Account Transaction</option>
                        </select>
                    </div>
                    <div class="mb-3 d-none">
                        <label for="transaction_source" class="form-label">Where from?</label>
                        <select name="" id="transaction_source" class="form-control"></select>
                    </div>
                    <div class="mb-3 d-none">
                        <label for="transaction_category" class="form-label">What type of category?</label>
                        <select name="" id="transaction_category" class="form-select"></select>
                    </div>
                    <div class="mb-3 d-none">
                        <label for="transaction_deptor" class="form-label">Who is the deptor?</label>
                        <select name="" id="transaction_deptor" class="form-select">
                            <option value="">Select deptor?</option>
                            {% get_user_deptors request  as deptors %}
                            {% for item in deptors %}
                                <option value={{ item.id }}>{{ item.name }}
                                </option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="transaction_account" class="form-label">Select from account?</label>
                        <select name="" id="transaction_account" class="form-select">
                            <option value="">Select from account?</option>
                            {% get_user_accounts request  as accounts %}
                            {% for item in accounts %}
                                <option amount={{ item.get_account_balance.balance }} value={{ item.id }}>{{ item.name }}
                                </option>
                            {% endfor %}
                        </select>
                    </div>
                    <!-- Account details -->
                    <div class="d-none alert alert-danger account_alert" role="alert">
                        <div class="row">
                            <div class="col-md-12 mb-2 d-flex justify-content-between">
                                <p class="m-0 p-0" id="account_name_show">Account balance</p>
                                <p class="m-0 p-0 fw-bold" id="account_balance_show">$19,098</p>
                            </div>
                            <div class="col-md-12 mb-2 d-flex justify-content-between">
                                <p class="m-0 p-0">Transaction Amount</p>
                                <p class="m-0 p-0 fw-bold" id="transaction_balance">$19,098</p>
                            </div>
                            <div class="col-md-12 d-flex justify-content-between">
                                <p class="m-0 p-0">New balance</p>
                                <p class="m-0 p-0 fw-bold" id="new_balance">$19,098</p>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3 d-none">
                        <label for="to_account" class="form-label">Select to account?</label>
                        <select name="" id="to_account" class="form-select">
                            <option value="">Select to account?</option>
                            {% get_user_accounts request  as accounts %}
                            {% for item in accounts %}
                                <option amount={{ item.get_account_balance.balance }} value={{ item.id }}>{{ item.name }}
                                </option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="mb-3 d-none">
                        <label for="transaction_account" class="form-label">What is your account?</label>
                        <select name="" id="transaction_account" class="form-select"></select>
                    </div>
                    <div class="mb-3">
                        <label for="transaction_amount" class="form-label">Transaction Amount</label>
                        <input type="number"
                               name=""
                               id="transaction_amount"
                               class="form-control"
                               placeholder="Enter your amount" />
                    </div>
                    <div class="mb-3">
                        <label for="transaction_date" class="form-label">Transaction Date</label>
                        <input type="date" name="" id="transaction_date" class="form-control" />
                    </div>
                    <button class="w-100 btn btn-primary" data-loading="false" id="save_transaction">Submit transaction</button>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}
{% block scripts %}
<script>
    const private__transaction_type = '{{ transaction.transaction_type|safe }}';
    const private__transaction_source = '{{ transaction.transaction_source|safe }}';
    const private__category = '{% if transaction.category is None  %}{% else %}{{ transaction.category.id }}{% endif %}';
    const private__deptors = '{% if transaction.deptors is None  %}{% else %}{{ transaction.deptors.id }}{% endif %}';
    const private__account = '{% if transaction.account is None  %}{% else %}{{ transaction.account.id }}{% endif %}';
    const private__amount = '{{ transaction.amount|safe }}';
    const private__date = '{{ transaction.transaction_date|safe }}';
    const private__source__account = '{% if transaction.source_account is None  %}{% else %}{{ transaction.source_account.id }}{% endif %}';
    const private__id = '{{ private__id }}';
    const private__row = '{{ private__row }}'
</script>
    <script src={% static "scripts/transactions/edit_transaction.js" %}></script>
{% endblock scripts %}
