{% extends '../base/index.html' %}
{% load static %}
{% load main %}
{% block links %}
    <!-- Datatables -->
    <link rel="stylesheet" href="{% static "assets/libs/datatable/bootstrap.min.css" %}" />
    <link rel="stylesheet" href="{% static "assets/libs/datatable/bootstrap5.min.css" %}" />
    <link rel="stylesheet" href="{% static "assets/libs/datatable/buttons.dataTables.min.css" %}" />
{% endblock links %}
{% block body %}
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <h5>Edit transaction</h5>
                    <p class="text-muted">
                        Take control of your finances with <code>WealthTrack</code>!
                        Add a transaction to start managing your money effectively.
                        Simply fill out the form with the transaction details.
                    </p>
                </div>
            </div>
            <div class="card mt-3">
                <div class="card-body">
                    {% activateTab transaction.type transaction.sub_type as detectTab %}
                    <!-- Nav tabs -->
                    <ul class="nav nav-pills nav-secondary mb-3" role="tablist">
                        <li class="nav-item waves-effect waves-light">
                            <a class="nav-link {% if detectTab.income %}active{% endif %}"
                               data-bs-toggle="tab"
                               href="#income"
                               role="tab">Income</a>
                        </li>
                        <li class="nav-item waves-effect waves-light">
                            <a class="nav-link {% if detectTab.expense %}active{% endif %}" data-bs-toggle="tab" href="#expense" role="tab">Expense</a>
                        </li>
                        <li class="nav-item waves-effect waves-light">
                            <a class="nav-link {% if detectTab.saving %}active{% endif %}" data-bs-toggle="tab" href="#saving" role="tab">Saving</a>
                        </li>
                        <li class="nav-item waves-effect waves-light">
                            <a class="nav-link {% if detectTab.transfer %}active{% endif %}" data-bs-toggle="tab" href="#account_to_account" role="tab">Account to Account</a>
                        </li>
                    </ul>
                    <!-- Tab panes -->
                    <div class="tab-content text-muted">
                        <div class="tab-pane {% if detectTab.income %}active{% endif %}" id="income" role="tabpanel">
                            <div class="mb-3">
                                <label for="income_type" class="form-label">Where from?</label>
                                <select name="" id="income_type" class="form-control">
                                    <option value="">Where from?</option>
                                    <option value="normal">Normal Income</option>
                                    <option value="return_dept">Return Dept</option>
                                    <option value="take_dept">Take Dept</option>
                                </select>
                            </div>
                            <div class="mb-3 d-none income_category">
                                <label for="income_category" class="form-label">Income caregories</label>
                                <select name="" id="income_category" class="form-control">
                                    <option value="">Select category?</option>
                                    {% get_user_categories request 'income' as categories %}
                                    {% for item in categories %}
                                        <option value={{ item.id }}>{{ item.name }}
                                        </option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="mb-3 d-none income_deptors">
                                <label for="income_deptors" class="form-label">Deptor name</label>
                                <select name="" id="income_deptors" class="form-control">
                                    <option value="">Select deptor?</option>
                                    {% get_user_deptors request  as deptors %}
                                    {% for item in deptors %}
                                        <option value={{ item.id }}>{{ item.name }}
                                        </option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="mb-3">
                                <label for="income_account" class="form-label">Account name</label>
                                <select name="" id="income_account" class="form-control">
                                    <option value="">Select account?</option>
                                    {% get_user_accounts request  as accounts %}
                                    {% for item in accounts %}
                                        <option amount={{ item.get_account_balance.balance }} value={{ item.id }}>{{ item.name }}
                                        </option>
                                    {% endfor %}
                                </select>
                            </div>
                            <!-- Account details -->
                            <div class="d-none alert alert-info income_alert" role="alert">
                                <div class="row">
                                    <div class="col-md-12 mb-2 d-flex justify-content-between">
                                        <p class="m-0 p-0" id="income_account_name_show"></p>
                                        <p class="m-0 p-0 fw-bold" id="income_account_balance_show"></p>
                                    </div>
                                    <div class="col-md-12 mb-2 d-flex justify-content-between">
                                        <p class="m-0 p-0">Transaction Amount</p>
                                        <p class="m-0 p-0 fw-bold" id="income_transaction_balance_show"></p>
                                    </div>
                                    <div class="col-md-12 d-flex justify-content-between">
                                        <p class="m-0 p-0">New balance</p>
                                        <p class="m-0 p-0 fw-bold" id="income_new_balance_show"></p>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label for="income_amount" class="form-label">Amount</label>
                                        <input type="number"
                                               name=""
                                               id="income_amount"
                                               class="form-control"
                                               placeholder="Enter your amount" />
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label for="income_date" class="form-label">Date</label>
                                        <input type="date" name="" id="income_date" class="form-control" />
                                    </div>
                                </div>
                            </div>
                            <button class="w-100 btn btn-primary" data-loading="false" id="save_income">Save income</button>
                        </div>
                        <div class="tab-pane {% if detectTab.expense %}active{% endif %}" id="expense" role="tabpanel">
                            <div class="mb-3">
                                <label for="expense_type" class="form-label">Where to?</label>
                                <select name="" id="expense_type" class="form-control">
                                    <option value="">Where to?</option>
                                    <option value="normal">Normal expense</option>
                                    <option value="give_dept">Give Dept</option>
                                    <option value="pay_dept">Payback Dept</option>
                                </select>
                            </div>
                            <div class="mb-3 d-none expense_category">
                                <label for="expense_category" class="form-label">expense caregories</label>
                                <select name="" id="expense_category" class="form-control">
                                    <option value="">Select category?</option>
                                    {% get_user_categories request 'expense' as categories %}
                                    {% for item in categories %}
                                        <option value={{ item.id }}>{{ item.name }}
                                        </option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="mb-3 d-none expense_deptors">
                                <label for="expense_deptors" class="form-label">Deptor name</label>
                                <select name="" id="expense_deptors" class="form-control">
                                    <option value="">Select deptor?</option>
                                    {% get_user_deptors request  as deptors %}
                                    {% for item in deptors %}
                                        <option value={{ item.id }}>{{ item.name }}
                                        </option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="mb-3">
                                <label for="expense_account" class="form-label">Account name</label>
                                <select name="" id="expense_account" class="form-control">
                                    <option value="">Select account?</option>
                                    {% get_user_accounts request  as accounts %}
                                    {% for item in accounts %}
                                        <option amount={{ item.get_account_balance.balance }} value={{ item.id }}>{{ item.name }}
                                        </option>
                                    {% endfor %}
                                </select>
                            </div>
                            <!-- Account details -->
                            <div class="d-none alert alert-danger expense_alert" role="alert">
                                <div class="row">
                                    <div class="col-md-12 mb-2 d-flex justify-content-between">
                                        <p class="m-0 p-0" id="expense_account_name_show">Account balance</p>
                                        <p class="m-0 p-0 fw-bold" id="expense_account_balance_show">$19,098</p>
                                    </div>
                                    <div class="col-md-12 mb-2 d-flex justify-content-between">
                                        <p class="m-0 p-0">Transaction Amount</p>
                                        <p class="m-0 p-0 fw-bold" id="expense_transaction_balance_show">$19,098</p>
                                    </div>
                                    <div class="col-md-12 d-flex justify-content-between">
                                        <p class="m-0 p-0">New balance</p>
                                        <p class="m-0 p-0 fw-bold" id="expense_new_balance_show">$19,098</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label for="expense_amount" class="form-label">Amount</label>
                                        <input type="number"
                                               name=""
                                               id="expense_amount"
                                               class="form-control"
                                               placeholder="Enter your amount" />
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label for="expense_date" class="form-label">Date</label>
                                        <input type="date" name="" id="expense_date" class="form-control" />
                                    </div>
                                </div>
                            </div>
                            <button class="w-100 btn btn-primary" data-loading="false" id="save_expense">Save expense</button>
                        </div>
                        <div class="tab-pane {% if detectTab.saving %}active{% endif %}" id="saving" role="tabpanel">
                            <div class="mb-3 saving_category">
                                <label for="saving_category" class="form-label">Saving categories</label>
                                <select name="" id="saving_category" class="form-control">
                                    <option value="">Select category?</option>
                                    {% get_user_categories request 'saving' as categories %}
                                    {% for item in categories %}
                                        <option value={{ item.id }}>{{ item.name }}
                                        </option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="mb-3">
                                <label for="saving_account" class="form-label">Account name</label>
                                <select name="" id="saving_account" class="form-control">
                                    <option value="">Select account?</option>
                                    {% get_user_accounts request  as accounts %}
                                    {% for item in accounts %}
                                        <option amount={{ item.get_account_balance.balance }} value={{ item.id }}>{{ item.name }}
                                        </option>
                                    {% endfor %}
                                </select>
                            </div>
                            <!-- Account details -->
                            <div class="d-none alert alert-info saving_alert" role="alert">
                                <div class="row">
                                    <div class="col-md-12 mb-2 d-flex justify-content-between">
                                        <p class="m-0 p-0" id="saving_account_name_show">Account balance</p>
                                        <p class="m-0 p-0 fw-bold" id="saving_account_balance_show">$19,098</p>
                                    </div>
                                    <div class="col-md-12 mb-2 d-flex justify-content-between">
                                        <p class="m-0 p-0">Transaction Amount</p>
                                        <p class="m-0 p-0 fw-bold" id="saving_transaction_balance_show">$19,098</p>
                                    </div>
                                    <div class="col-md-12 d-flex justify-content-between">
                                        <p class="m-0 p-0">New balance</p>
                                        <p class="m-0 p-0 fw-bold" id="saving_new_balance_show">$19,098</p>
                                    </div>
                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="saving_to_account" class="form-label">Saving account name</label>
                                <select name="" id="saving_to_account" class="form-control">
                                    <option value="">Select saving account?</option>
                                    {% get_user_accounts request  as accounts %}
                                    {% for item in accounts %}
                                        <option value={{ item.id }}>{{ item.name }}
                                        </option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="row mb-3">
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label for="saving_amount" class="form-label">Amount</label>
                                        <input type="number"
                                               name=""
                                               id="saving_amount"
                                               class="form-control"
                                               placeholder="Enter your amount" />
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label for="saving_date" class="form-label">Date</label>
                                        <input type="date" name="" id="saving_date" class="form-control" />
                                    </div>
                                </div>
                            </div>
                            <button class="w-100 btn btn-primary" data-loading="false" id="save_saving">Submit transaction</button>
                        </div>
                        <div class="tab-pane {% if detectTab.transfer %}active{% endif %}" id="account_to_account" role="tabpanel">
                            <div class="mb-3">
                                <label for="from_account" class="form-label">From account</label>
                                <select name="" id="from_account" class="form-control">
                                    <option value="">Select account?</option>
                                    {% get_user_accounts request  as accounts %}
                                    {% for item in accounts %}
                                        <option amount={{ item.get_account_balance.balance }} value={{ item.id }}>{{ item.name }}
                                        </option>
                                    {% endfor %}
                                </select>
                            </div>
                            <!-- Account details -->
                            <div class="d-none alert alert-danger from_alert" role="alert">
                                <div class="row">
                                    <div class="col-md-12 mb-2 d-flex justify-content-between">
                                        <p class="m-0 p-0" id="from_account_name_show">Account balance</p>
                                        <p class="m-0 p-0 fw-bold" id="from_account_balance_show">$19,098</p>
                                    </div>
                                    <div class="col-md-12 mb-2 d-flex justify-content-between">
                                        <p class="m-0 p-0">Transaction Amount</p>
                                        <p class="m-0 p-0 fw-bold" id="from_transaction_balance_show">$19,098</p>
                                    </div>
                                    <div class="col-md-12 d-flex justify-content-between">
                                        <p class="m-0 p-0">New balance</p>
                                        <p class="m-0 p-0 fw-bold" id="from_new_balance_show">$19,098</p>
                                    </div>
                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="to_account" class="form-label">To account</label>
                                <select name="" id="to_account" class="form-control">
                                    <option value="">Select saving account?</option>
                                    {% get_user_accounts request  as accounts %}
                                    {% for item in accounts %}
                                        <option value={{ item.id }}>{{ item.name }}
                                        </option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="row mb-3">
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label for="from_amount" class="form-label">Amount</label>
                                        <input type="number"
                                               name=""
                                               id="from_amount"
                                               class="form-control"
                                               placeholder="Enter your amount" />
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label for="transfer_date" class="form-label">Date</label>
                                        <input type="date" name="" id="transfer_date" class="form-control" />
                                    </div>
                                </div>
                            </div>
                            <button class="w-100 btn btn-primary" data-loading="false" id="save_transfer">Submit transaction</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}
{% block scripts %}
    <script>
        const private__where_to = '{{ transaction.sub_type|safe }}';
        let private__type = '{{ transaction.type|safe }}';
        const private__category = '{% if transaction.category is None  %}{% else %}{{ transaction.category.id }}{% endif %}';
        const private__deptors = '{% if transaction.deptors is None  %}{% else %}{{ transaction.deptors.id }}{% endif %}';
        const private__account = '{% if transaction.account is None  %}{% else %}{{ transaction.account.id }}{% endif %}';
        const private__amount = '{{ transaction.amount|safe }}';
        const private__date = '{{ transaction.transaction_date|safe }}';
        const private__source__account = '{% if transaction.source_account is None  %}{% else %}{{ transaction.source_account.id }}{% endif %}';
        const private__id = '{{ private__id }}';
    </script>
    <script src={% static "scripts/transactions/edit.js" %}></script>
{% endblock scripts %}
