{% extends '../base/index.html' %}
{% load static %}
{% load humanize %}
{% load main %}
{% block links %}
    <!-- One of the following themes -->
    <link rel="stylesheet" href={% static "assets/libs/flatpicker/css.css" %} />
    <link rel="stylesheet" href={% static "assets/libs/flatpicker/theme.css" %} />
{% endblock links %}
{% block body %}
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-4">
            <div class="card">
                <div class="card-body">
                    <h6>Your balance</h6>
                    <p class="mb-0">${{ users_balance|intcomma }}</p>
                </div>
            </div>
            <div class="card mt-3">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12 mb-3">
                            <label for="type_of_date" class="form-label">What type of date?</label>
                            <select name=""
                                    id="type_of_date"
                                    data-type-of-date='{{ type_of_date }}'
                                    class="form-select">
                                <option value="">What type of date?</option>
                                <option value="single">Single Date</option>
                                <option value="range">Range Date</option>
                                <option value="multiple">Multiple Date</option>
                            </select>
                        </div>
                        <div class="d-none col-md-12 mb-3">
                            <label for="single_date" class="form-label">Single Date</label>
                            <input type="date"
                                   name=""
                                   id="single_date"
                                   class="form-control"
                                   data-single-date='{{ single_date }}'>
                        </div>
                        <div class="d-none col-md-12 mb-3">
                            <label for="range_date" class="form-label">Range Date</label>
                            <input type="text" name="" id="range_date" class="form-control">
                        </div>
                        <div class="d-none col-md-12 mb-3">
                            <label for="multiple_date" class="form-label">Multiple Date</label>
                            <input type="text" name="" id="multiple_date" class="form-control">
                        </div>
                        <div class="col-md-12 mb-3">
                            <label for="transaction_type" class="form-label">What type of tarnsaction?</label>
                            <select name=""
                                    id="transaction_type"
                                    data-transaction-type='{{ transaction_type }}'
                                    class="form-select">
                                <option value="">What type of tarnsaction?</option>
                                <optgroup label="deposit">
                                    <option value="normal">Normal Income</option>
                                    <option value="return_dept">Return Dept</option>
                                    <option value="take_dept">Take Dept</option>
                                </optgroup>
                                <optgroup label="withdraw">
                                    <option value="normal">Normal Expense</option>
                                    <option value="give_dept">Give Dept</option>
                                    <option value="pay_dept">Pay Dept</option>
                                    <option value="transfer">Transfer</option>
                                </optgroup>
                            </select>
                        </div>
                        <div class="d-none col-md-12 mb-3">
                            <label for="categories" class="form-label">Categories</label>
                            <select name="" id="categories" class="form-select">
                                <option value="all">All categories</option>
                            </select>
                        </div>
                        <div class="d-none col-md-12 mb-3">
                            <label for="deptors" class="form-label">Deptors</label>
                            <select name="" id="deptors" class="form-select">
                                <option value="all">All deptors</option>
                            </select>
                        </div>
                        <div class="col-md-12 mb-3">
                            <label for="accounts" class="form-label">Accounts</label>
                            <select name="" id="accounts" data-accounts='{{ accounts }}' class="form-select">
                                <option value="all">All accounts</option>
                                {% for item in accountslist %}<option value="{{ item.id }}">{{ item.name }}</option>{% endfor %}
                            </select>
                        </div>
                        <div class="mb-3">
                            <button type="button" id="process_filter" class="btn btn-secondary w-100">Process Filter</button>
                            <button type="button" id="clear_filter" class="mt-3 btn btn-primary w-100">Clear Filter</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-8">
            <div class="card">
                <div class="card-body">
                    <div class="row mb-2 g-4 align-items-center">
                        <div class="col-sm-3"></div>
                        <div class="col-sm-auto ms-auto">
                            <div class="hstack gap-2">
                                <div class="form-group">
                                    <select id="DataNumber" name="DataNumber" DataNumber={{ datanumber }} DataNumber="10" class="form-control select2 w-100">
                                        <option value="5">5</option>
                                        <option value="10">10</option>
                                        <option value="30">30</option>
                                        <option value="50">50</option>
                                        <option value="100">100</option>
                                    </select>
                                </div>
                                <form autocomplete="off">
                                    <div class="input-group mr-0">
                                        <input id="SearchQuery"
                                               type="text"
                                               placeholder="Search..."
                                               value='{{ search }}'
                                               class="form-control" />
                                        <button class="btn btn-primary SearchQueryBTN"
                                                type="button"
                                                id="button-addon2">
                                            <i data-feather="search" class="feather-icon-sm"></i>
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="table-responsive">
                                <table id="datatable"
                                       class="accounts_table table"
                                       style="width: 100%;
                                              font-size:0.8rem">
                                    <thead>
                                        <tr>
                                            <th>Date</th>
                                            <th>Type</th>
                                            <th>Sub Type</th>
                                            <th>Amount</th>
                                            {% comment %} <th>Balance</th> {% endcomment %}
                                            <th>Account</th>
                                            <th>Source</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% if  paginator_obj %}
                                            {% for item in paginator_obj %}
                                                <tr>
                                                    <td>{{ item.get_transaction_date }}</td>
                                                    <td>
                                                        <span class="badge text-bg-{% if item.type == 'deposit' %}secondary{% elif item.type == 'withdraw' %}danger{% else %}info{% endif %}">{{ item.type }}</span>
                                                    </td>
                                                    <td>{{ item.get_sub_type }}</td>
                                                    <td>${{ item.get_amount|intcomma }}</td>
                                                    <td>{{ item.account.name }}</td>
                                                    <td>{{ item.get_source }}</td>
                                                    <td>
                                                        <a href={% url 'edit_transaction' item.encrypt_id %} id="edit_account" data-row={{ item.id }} class="btn btn-sm btn-primary">
                                                            <i class="feather-icon-sm" data-feather="edit-2"></i>
                                                        </a>
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                        {% else %}
                                        <tr>
                                            <td class="text-center" colspan=8>No transactions processed</td>
                                        </tr>
                                        {% endif %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- Pagination -->
                        <div class="col-md-12 d-flex justify-content-between align-items-center">
                            <p activePage="{{ page_obj.number }}" class="p-0 m-0 activePage">
                                Showing {{ paginator_obj.number }} to {{ paginator_obj.paginator.num_pages }} of {{ paginator_obj.paginator.count }} entries
                            </p>
                            <nav class="pagination_nav">
                                <ul class="pagination justify-content-end">
                                    <li class="page-item {% if not paginator_obj.has_previous %}disabled{% endif %}">
                                        <a class="page-link" tabindex="-1" page="1">Previous</a>
                                    </li>
                                    <li class="page-item {% if not paginator_obj.has_previous %}disabled{% endif %}">
                                        <a class="page-link"
                                           tabindex="-1"
                                           page="{% if paginator_obj.has_previous %}{{ paginator_obj.previous_page_number }}{% else %}No Page{% endif %}"><i class="feather-icon-sm" data-feather="chevrons-left"></i></a>
                                    </li>
                                    <li class="page-item {% if not paginator_obj.has_next %}disabled{% endif %}">
                                        <a class="page-link"
                                           tabindex="-1"
                                           page="{% if paginator_obj.has_next %}{{ paginator_obj.next_page_number }}{% else %}No Page{% endif %}"><i class="feather-icon-sm" data-feather="chevrons-right"></i></a>
                                    </li>
                                    <li class="page-item {% if not paginator_obj.has_next %}disabled{% endif %}">
                                        <a class="page-link" page="{{ paginator_obj.paginator.num_pages }}">Next</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}
{% block scripts %}
    <script>const multiple_date = {{multiple_date|safe}}; const range_date = {{ range_date|safe }};</script>
    <!-- Modern colorpicker bundle -->
    <script src={% static "assets/libs/flatpicker/js.js" %}></script>
    <script src={% static "scripts/transactions/list.js" %}></script>
{% endblock scripts %}
