{% extends '../base/index.html' %}
{% load static %}
{% load humanize %}
{% load main %}
{% block links %}
    <!-- Datatables -->
    <link rel="stylesheet" href="{% static "assets/css/dash/transaction.css" %}" />
{% endblock links %}
{% block body %}
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <table class="table text-center table-bordered table-striped">
                        <thead>
                            <tr>
                                <th style="text-align:left;" colspan=2>Select Year</th>
                                <th>Jan</th>
                                <th>Feb</th>
                                <th>Mar</th>
                                <th>Apr</th>
                                <th>May</th>
                                <th>Jun</th>
                                <th>Jul</th>
                                <th>Aug</th>
                                <th>Oct</th>
                                <th>Sep</th>
                                <th>Nov</th>
                                <th>Dec</th>
                                <th>Total</th>
                            </tr>
                        </thead>
                        <thead>
                            <tr>
                                <th style="text-align:left;" colspan=15></th>
                            </tr>
                            <tr>
                                <th style="text-align:left;" colspan=15></th>
                            </tr>
                            <tr>
                                <th style="text-align:left;" colspan=2 class="income_table fs-12">Incomes</th>
                                <th class="income_table fs-12">Jan</th>
                                <th class="income_table fs-12">Feb</th>
                                <th class="income_table fs-12">Mar</th>
                                <th class="income_table fs-12">Apr</th>
                                <th class="income_table fs-12">May</th>
                                <th class="income_table fs-12">Jun</th>
                                <th class="income_table fs-12">Jul</th>
                                <th class="income_table fs-12">Aug</th>
                                <th class="income_table fs-12">Oct</th>
                                <th class="income_table fs-12">Sep</th>
                                <th class="income_table fs-12">Nov</th>
                                <th class="income_table fs-12">Dec</th>
                                <th class="income_table fs-12">Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if summary.incomes %}
                                {% for item in summary.incomes %}
                                    <tr>
                                        <td class="income_table {% if forloop.counter == summary.incomes|length %}fw-bold{% endif %}"
                                            style="text-align:left"
                                            colspan="2">{{ item.category }}</td>
                                        <td class="income_table {% if forloop.counter == summary.incomes|length %}fw-bold{% endif %}">
                                            ${{ item.January|intcomma }}
                                        </td>
                                        <td class="income_table {% if forloop.counter == summary.incomes|length %}fw-bold{% endif %}">
                                            ${{ item.February|intcomma }}
                                        </td>
                                        <td class="income_table {% if forloop.counter == summary.incomes|length %}fw-bold{% endif %}">
                                            ${{ item.March|intcomma }}
                                        </td>
                                        <td class="income_table {% if forloop.counter == summary.incomes|length %}fw-bold{% endif %}">
                                            ${{ item.April|intcomma }}
                                        </td>
                                        <td class="income_table {% if forloop.counter == summary.incomes|length %}fw-bold{% endif %}">
                                            ${{ item.May|intcomma }}
                                        </td>
                                        <td class="income_table {% if forloop.counter == summary.incomes|length %}fw-bold{% endif %}">
                                            ${{ item.June|intcomma }}
                                        </td>
                                        <td class="income_table {% if forloop.counter == summary.incomes|length %}fw-bold{% endif %}">
                                            ${{ item.July|intcomma }}
                                        </td>
                                        <td class="income_table {% if forloop.counter == summary.incomes|length %}fw-bold{% endif %}">
                                            ${{ item.August|intcomma }}
                                        </td>
                                        <td class="income_table {% if forloop.counter == summary.incomes|length %}fw-bold{% endif %}">
                                            ${{ item.September|intcomma }}
                                        </td>
                                        <td class="income_table {% if forloop.counter == summary.incomes|length %}fw-bold{% endif %}">
                                            ${{ item.October|intcomma }}
                                        </td>
                                        <td class="income_table {% if forloop.counter == summary.incomes|length %}fw-bold{% endif %}">
                                            ${{ item.November|intcomma }}
                                        </td>
                                        <td class="income_table {% if forloop.counter == summary.incomes|length %}fw-bold{% endif %}">
                                            ${{ item.December|intcomma }}
                                        </td>
                                        <td class="income_table fw-bold">${{ item.total|intcomma }}</td>
                                    </tr>
                                {% endfor %}
                            {% endif %}
                        </tbody>
                        <thead>
                            <tr>
                                <th style="text-align:left;" colspan=15></th>
                            </tr>
                            <tr>
                                <th style="text-align:left;" colspan=15></th>
                            </tr>
                            <tr>
                                <th style="text-align:left;" colspan=2 class="expense_table fs-12">Expenses</th>
                                <th class="expense_table fs-12">Jan</th>
                                <th class="expense_table fs-12">Feb</th>
                                <th class="expense_table fs-12">Mar</th>
                                <th class="expense_table fs-12">Apr</th>
                                <th class="expense_table fs-12">May</th>
                                <th class="expense_table fs-12">Jun</th>
                                <th class="expense_table fs-12">Jul</th>
                                <th class="expense_table fs-12">Aug</th>
                                <th class="expense_table fs-12">Oct</th>
                                <th class="expense_table fs-12">Sep</th>
                                <th class="expense_table fs-12">Nov</th>
                                <th class="expense_table fs-12">Dec</th>
                                <th class="expense_table fs-12">Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if summary.expenses %}
                                {% for item in summary.expenses %}
                                    <tr>
                                        <td class="expense_table {% if forloop.counter == summary.expenses|length %}fw-bold{% endif %}"
                                            style="text-align:left"
                                            colspan="2">{{ item.category }}</td>
                                        <td class="expense_table {% if forloop.counter == summary.expenses|length %}fw-bold{% endif %}">
                                            ${{ item.January|intcomma }}
                                        </td>
                                        <td class="expense_table {% if forloop.counter == summary.expenses|length %}fw-bold{% endif %}">
                                            ${{ item.February|intcomma }}
                                        </td>
                                        <td class="expense_table {% if forloop.counter == summary.expenses|length %}fw-bold{% endif %}">
                                            ${{ item.March|intcomma }}
                                        </td>
                                        <td class="expense_table {% if forloop.counter == summary.expenses|length %}fw-bold{% endif %}">
                                            ${{ item.April|intcomma }}
                                        </td>
                                        <td class="expense_table {% if forloop.counter == summary.expenses|length %}fw-bold{% endif %}">
                                            ${{ item.May|intcomma }}
                                        </td>
                                        <td class="expense_table {% if forloop.counter == summary.expenses|length %}fw-bold{% endif %}">
                                            ${{ item.June|intcomma }}
                                        </td>
                                        <td class="expense_table {% if forloop.counter == summary.expenses|length %}fw-bold{% endif %}">
                                            ${{ item.July|intcomma }}
                                        </td>
                                        <td class="expense_table {% if forloop.counter == summary.expenses|length %}fw-bold{% endif %}">
                                            ${{ item.August|intcomma }}
                                        </td>
                                        <td class="expense_table {% if forloop.counter == summary.expenses|length %}fw-bold{% endif %}">
                                            ${{ item.September|intcomma }}
                                        </td>
                                        <td class="expense_table {% if forloop.counter == summary.expenses|length %}fw-bold{% endif %}">
                                            ${{ item.October|intcomma }}
                                        </td>
                                        <td class="expense_table {% if forloop.counter == summary.expenses|length %}fw-bold{% endif %}">
                                            ${{ item.November|intcomma }}
                                        </td>
                                        <td class="expense_table {% if forloop.counter == summary.expenses|length %}fw-bold{% endif %}">
                                            ${{ item.December|intcomma }}
                                        </td>
                                        <td class="expense_table fw-bold">${{ item.total|intcomma }}</td>
                                    </tr>
                                {% endfor %}
                            {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-12 d-none">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-4 col-md-3 col-lg-2">
                            <table class="table text-center table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th>Select Year</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <select name="" id="change_year" class="form-select form-select-sm">
                                                <option value="">Select year?</option>
                                                <option selected value="2023">2023</option>
                                            </select>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-sm-8 col-md-9 col-lg-10">
                            <table class="table text-center table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th>Jan</th>
                                        <th>Feb</th>
                                        <th>Mar</th>
                                        <th>Apr</th>
                                        <th>May</th>
                                        <th>Jun</th>
                                        <th>Jul</th>
                                        <th>Aug</th>
                                        <th>Oct</th>
                                        <th>Sep</th>
                                        <th>Nov</th>
                                        <th>Dec</th>
                                        <th>Total</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        {% for item in summary %}<td>${{ item|intcomma }}</td>{% endfor %}
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-sm-4 col-md-3 col-lg-2">
                            <table class="table income_table income_category_table table-bordered">
                                <thead>
                                    <tr>
                                        <th class="text-bg-primary">Income</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for category in income.categories %}
                                        <tr>
                                            <td>{{ category.name }}</td>
                                        </tr>
                                    {% endfor %}
                                    <tr>
                                        <td class="fw-bold">Total</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-sm-8 col-md-9 col-lg-10">
                            <table class="income_table table text-center table-bordered">
                                <thead>
                                    <tr>
                                        <th class="text-bg-primary">Jan</th>
                                        <th class="text-bg-primary">Feb</th>
                                        <th class="text-bg-primary">Mar</th>
                                        <th class="text-bg-primary">Apr</th>
                                        <th class="text-bg-primary">May</th>
                                        <th class="text-bg-primary">Jun</th>
                                        <th class="text-bg-primary">Jul</th>
                                        <th class="text-bg-primary">Aug</th>
                                        <th class="text-bg-primary">Oct</th>
                                        <th class="text-bg-primary">Sep</th>
                                        <th class="text-bg-primary">Nov</th>
                                        <th class="text-bg-primary">Dec</th>
                                        <th class="text-bg-primary fw-bold"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for item in income.result %}
                                        <tr>
                                            {% for row in item %}<td>${{ row|intcomma }}</td>{% endfor %}
                                        </tr>
                                    {% endfor %}
                                    <tr>
                                        {% for row in income.sum_of_all %}<td class="fw-bold">${{ row|intcomma }}</td>{% endfor %}
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-sm-4 col-md-3 col-lg-2">
                            <table class="table expense_table expense_category_table table-bordered">
                                <thead>
                                    <tr>
                                        <th class="text-bg-secondary">Expense</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for category in expense.categories %}
                                        <tr>
                                            <td>{{ category.name }}</td>
                                        </tr>
                                    {% endfor %}
                                    <tr>
                                        <td class="fw-bold">Total</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-sm-8 col-md-9 col-lg-10">
                            <table class="expense_table table text-center table-bordered">
                                <thead>
                                    <tr>
                                        <th class="text-bg-secondary">Jan</th>
                                        <th class="text-bg-secondary">Feb</th>
                                        <th class="text-bg-secondary">Mar</th>
                                        <th class="text-bg-secondary">Apr</th>
                                        <th class="text-bg-secondary">May</th>
                                        <th class="text-bg-secondary">Jun</th>
                                        <th class="text-bg-secondary">Jul</th>
                                        <th class="text-bg-secondary">Aug</th>
                                        <th class="text-bg-secondary">Oct</th>
                                        <th class="text-bg-secondary">Sep</th>
                                        <th class="text-bg-secondary">Nov</th>
                                        <th class="text-bg-secondary">Dec</th>
                                        <th class="text-bg-secondary fw-bold"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for item in expense.result %}
                                        <tr>
                                            {% for row in item %}<td>${{ row|intcomma }}</td>{% endfor %}
                                        </tr>
                                    {% endfor %}
                                    <tr>
                                        {% for row in expense.sum_of_all %}<td class="fw-bold">${{ row|intcomma }}</td>{% endfor %}
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}
{% block scripts %}
    <!-- DataTables -->
    <script src={% static "assets/libs/datatable/jquery.dataTables.min.js" %}></script>
    <script src={% static "assets/libs/datatable/dataTables.bootstrap5.min.js" %}></script>
    <script src={% static "assets/libs/datatable/dataTables.responsive.min.js" %}></script>
    <script src={% static "assets/libs/datatable/dataTables.buttons.min.js" %}></script>
    <script>
        $("#datatable").DataTable({
            lengthChange: false,
            searching: false,
            paging: false,
            info: false,
          });
    </script>
    {% comment %} <script src={% static "scripts/transactions/add.js" %}></script> {% endcomment %}
{% endblock scripts %}
